[2016-06-24 05:17] pwalsh opened #9 "Rename Description.md to README.md"
To be more consistent with conventions.

[2016-06-27 13:04] annafralberts commented on #9
no, Readme's are going to contain FDP descriptions
So that is why description and READme's are going to be different things :)

[2016-06-27 15:22] pwalsh commented on #9
Ok. I think that is a bit unintuitive though.

[2016-07-02 23:10] cyberbikepunk opened #13 "Finalize fields.official.yaml"
I had a first go at writing up the fields.yml from the screenshot of the official journal. It's not finished.

- Explanations need to be added
- we need to decide if these fields are realistically to be expected from the data
- i'm not quite sure which fields are categories that have to go into the codelist google sheet

[2016-07-03 11:59] pwalsh commented on #9
oh, i see this was done :)

[2016-07-03 11:59] #9 closed

[2016-07-03 23:14] annafralberts commented on #9
and not just a little bit, we made a yaml!

On 3 July 2016 at 13:59, Paul Walsh notifications@github.com wrote:

##

Anna Alberts, Project Manager OpenBudgets.eu
Open Knowledge Foundation Germany
www.okfn.de | info@okfn.de | @okfde
anna.alberts@okfn.de info@okfn.de | @Anna_Alberts
Office: +49 30 57703666 0
Mobile: +49 176 21370998 <%2B49%20176%2032768530>

[2016-07-04 01:23] cyberbikepunk opened #15 "Create raw datapackage template"
The file `datapackage.template.raw.json` is empty. We need to figure out what goes in it.

[2016-07-04 01:25] cyberbikepunk opened #16 "Create the fiscal data-package template"
Same as #15

[2016-07-04 01:26] cyberbikepunk opened #17 "Create the codelist"
Find out what are common categories across datasets. Put the info into the `codelist.yaml` file

[2016-08-23 14:27] cyberbikepunk opened #20 "Finland raw CSV file parsing requires some work"
The number of fields in the [file](https://github.com/os-data/eu-structural-funds/blob/master/data/fi/projektilista.csv) varies. Here's the summary:

[code]

Further investigation is required to be able to parse this file correctly.

[2016-09-03 12:04] cyberbikepunk commented on #17
We are going to create multiple codelist files. So I'm closing this issue and opening an issue for every codelist.

[2016-09-03 12:04] #17 closed

[2016-09-03 12:06] cyberbikepunk opened #23 "Create the codelist priority_number.yaml"
A good starting point is [this file](https://github.com/openbudgets/datasets/blob/master/ESIF/2014/codelists/esif-priority.ttl). But it has information only for 2014-2020 period.

@annafralberts I need your help for this task. Where can I find a list of priority numbers for each funding period?

[2016-09-03 12:53] annafralberts opened #24 "Extend schema.yaml with possible column names"

[2016-09-03 13:20] cyberbikepunk opened #25 "Compile a glossary of technical terms"
Compile a glossary of technical terms used in the project.

[2016-09-06 15:07] seegerseeger opened #26 "DE1 BADEN-WÜRTTEMBERG - Sourcing ERDF / ESF"
The landing page for ERDF is here: http://www.rwb-efre.baden-wuerttemberg.de/
The landing page for ESF is here: http://www.esf-bw.de/

ESF 2007-2013: [[link](http://www.esf-bw.de/esf/fileadmin/user_upload/downloads/Ministerium_fuer_Arbeit_und_Soziales/Verzeichnis_der_Beguenstigten/Liste_der_Beguenstigten_2013__end_.pdf)]
ESF 2014-2020: [[link](http://www.esf-bw.de/esf/uploads/media/20160601_Liste_

[2016-09-06 15:23] seegerseeger opened #27 "DE2 BAYERN - Sourcing ERDF / ESF"
The landing page for ERDF is here: http://www.efre-bayern.de/
The landing page for ESF is here: http://www.esf.bayern.de

ESF 2007-2013: [[link](http://www.esf.bayern.de/imperia/md/content/stmas/stmas_internet/esf/inf-beguenstigte-2015.pdf)]
ESF 2014-2020:  [none]

ERDF 2007-2013 data exists as XLSX added to Github via Michael's Harddrive (ministry sent it to us)
ERDF 2007-2013: [[link](http://www

[2016-09-06 15:25] seegerseeger opened #28 "DE3 BERLIN - Sourcing ERDF / ESF"
The landing page for ERDF/ESF is here: https://www.berlin.de/sen/wirtschaft/gruenden-und-foerdern/europaeische-strukturfonds/esf/dokumente-a-z/

ESF 2007-2013: [[link](https://www.berlin.de/sen/wirtschaft/gruenden-und-foerdern/europaeische-strukturfonds/esf/informationen-fuer-verwaltungen-partner-eu/beguenstigtenverzeichnis_2014.pdf)]
ESF 2014-2020: Data not available yet - will be eventually publ

[2016-09-06 15:28] seegerseeger opened #29 "DE4 BRANDENBURG - Sourcing ERDF / ESF"
The landing page for ERDF is here: http://www.efre.brandenburg.de/cms/detail.php/bb1.c.152414.de
The landing page for ESF is here: http://www.esf.brandenburg.de/cms/detail.php/bb3.c.208471.de

ESF 2007-2013: [[link](http://www.esf.brandenburg.de/media_fast/667/Beg%C3%BCnstigtenverzeichnis_ESF_BB_2007-2014.pdf)]
ESF 2014-2020: [link](http://www.esf.brandenburg.de/media_fast/667/Liste_der_Vorhaben_S

[2016-09-06 15:30] seegerseeger opened #30 "DE5 BREMEN - sourcing ERDF/ESF"
The landing page for ERDF is here: http://www.efre-bremen.de/sixcms/detail.php?gsid=bremen67.c.1517.de
The landing page for ESF is here: http://www.esf-bremen.de/sixcms/detail.php?gsid=bremen02.c.730.de

ESF 2007-2013: [[link](http://www.esf-bremen.de/sixcms/media.php/13/reportS0602-0-0-36-131106.pdf)]
ESF 2014-2020: [none]

ERDF 2007-2013: [[link](http://www.efre-bremen.de/sixcms/media.php/13/BEG

[2016-09-06 15:34] seegerseeger opened #31 "DE6 HAMBURG - Sourcing ERDF / ESF"
The landing page for ERDF is here: https://www.hamburg.de/efre/
The landing page for ESF is here: http://www.esf-hamburg.de/

ESF 2007-2013: [[link](http://static.hamburg.de/fhh/behoerden/basfi/esf-hamburg.de/www.esf-hamburg.de/contentblob/1379164/data/verzeichnis-der-beguenstigten.pdf)]
ESF 2014-2020: [[link]](http://esf-hamburg.de/contentblob/5307350/data/liste-der-vorhaben-stand-maerz-2016.xlsx

[2016-09-06 15:41] seegerseeger opened #32 "DE7 HESSEN - Sourcing ERDF / ESF"
The landing page for ERDF is here: https://wirtschaft.hessen.de/landesentwicklung/efre/eu-regionalfoerderung-2014-bis-2020
The landing page for ESF is here: https://www.esf-hessen.de/Startseite.esf

ESF 2007-2013: [[link](https://www.esf-hessen.de/upload/esf_verzeichnis_der_beg%C3%BCnstigten_2007_bis_2013_stand_12_2014_8161.pdf)]
ESF 2014-2020: [[link](https://www.esf-hessen.de/upload/2016-07-01_L

[2016-09-06 15:44] seegerseeger opened #33 "DE8 MECKLENBURG-VORPOMMERN - Sourcing ERDF / ESF"
The landing page for ERDF is here: http://www.europa-mv.de/cms2/Europamv_prod/Europamv/de/eufoerderinstrumente/Europaeische_Fonds_in_Mecklenburg-Vorpommern/EFRE/index.jsp
The landing page for ESF is here: http://cms.mv-regierung.de/cms2/Europamv_prod/Europamv/de/eufoerderinstrumente/Europaeische_Fonds_in_Mecklenburg-Vorpommern/ESF/index.jsp

ESF 2007-2013: [[link](http://www.europa-mv.de/cms2/Euro

[2016-09-06 15:47] seegerseeger opened #34 "DE9 NIEDERSACHSEN - Sourcing ERDF / ESF"
The landing page for ERDF/ESF is here: http://www.stk.niedersachsen.de/startseite/themen/regionale_landesentwicklung_und_eufoerderung/eufoerderung/efre_esf/efre-und-esf-124140.html

ESF 2007-2013:
[[RWB](http://www.stk.niedersachsen.de/download/108093/Verzeichnis_der_Beguenstigten_Stand_31.05.2016_ESF_RWB.pdf)]
[[Konvergenz](http://www.stk.niedersachsen.de/download/108092/Verzeichnis_der_Beguensti

[2016-09-06 15:53] seegerseeger opened #35 "DEA NORDRHEIN-WESTFALEN - Sourcing ERDF / ESF"
The landing page for ERDF/ESF is here:
https://www.efre.nrw.de/
https://www.mais.nrw/europaeischer-sozialfonds

ESF 2007-2013: [[link](http://www.arbeit.nrw.de/pdf/esf/operationelles_programm_beguenstigtenverzeichnis_barr.pdf)]
ESF 2014-2020: [[link](http://www.arbeit.nrw.de/esf/foerderphase_2014_bis_2020/oeffentlichkeitsarbeit/download/docs/liste_der_vorhaben.xlsx)]

ERDF 2007-2013: [[link](http:

[2016-09-06 16:02] seegerseeger opened #36 "DEB RHEINLAND-PFALZ - Sourcing ERDF / ESF"
The landing page for ESF is here: http://www.esf.rlp.de/
The landing page for ERDF is here: www.efre.rlp.de/

ESF 2007: [none]
ESF 2008: [[link](http://esf.rlp.de/fileadmin/esf/Dokumente/VdB_2008.pdf)]
ESF 2009: [[link](http://esf.rlp.de/fileadmin/esf/Dokumente/VdB_2009.pdf)]
ESF 2010: [[link](http://esf.rlp.de/fileadmin/esf/Dokumente/VdB_2010_Stand_06.06.2011.pdf)]
ESF 2011: [[link](http://esf.rl

[2016-09-06 16:04] seegerseeger opened #37 "DEC SAARLAND - Sourcing ERDF / ESF"
The landing page for ERDF is here: http://www.saarland.de/strukturfondsfoerderung.htm
The landing page for ESF is here: http://www.saarland.de/36004.htm

ESF 2007-2013: [[link](http://www.saarland.de/dokumente/tp_sff/Beguenstigtenverzeichnis_13_14.pdf)]
ESF 2014-2020: [[link](http://www.saarland.de/dokumente/thema_strukturfondsfoerderung/Vorhabenliste-25-05-2016.xlsx)]

ERDF 2007-2013: [[link](htt

[2016-09-06 16:05] seegerseeger opened #38 "DED SACHSEN - Sourcing ERDF / ESF"
The landing page for ERDF / ESF is here: http://www.strukturfonds.sachsen.de/

ESF 2007-2013: [[link](http://www.strukturfonds.sachsen.de/download/2016-06-30_Verzeichnis_der_Beguenstigten_ESF_SN.pdf)]
ESF 2014-2020: [[link](http://www.strukturfonds.sachsen.de/download/2016-06-30_Liste_der_Vorhaben_ESF_2014-2020.zip)]

ERDF 2007-2013: [[link](http://www.strukturfonds.sachsen.de/download/FP_0713_Ver

[2016-09-06 16:09] seegerseeger opened #39 "DEE SACHSEN-ANHALT - Sourcing ERDF / ESF"
The ESF landing page is here: http://www.europa.sachsen-anhalt.de/eu-fonds-in-sachsen-anhalt/die-europaeischen-struktur-und-investitionsfonds-esi-fonds/esf/

ESF 2007-2013: [[link](http://www.europa.sachsen-anhalt.de/fileadmin/Bibliothek/Politik_und_Verwaltung/StK/Europa/Publikationen/Liste_der_Beguenstigten/Beguenstigtenverzeichnis_ESF_IV_per_31.12.14.pdf)]
ESF 2014-2020: [none]

ERDF 2007-2013:

[2016-09-06 16:11] seegerseeger opened #40 "DEF SCHLESWIG-HOLSTEIN - Sourcing ERDF / ESF"
The ESF landing page is here: http://www.ib-sh.de/die-ibsh/foerderprogramme-des-landes/landesprogramm-arbeit/
The ERDF landing page is here: https://www.schleswig-holstein.de/DE/Fachinhalte/F/foerderprogramme/MWAVT/efre_inSH_2014_2020.html

ESF 2007-2013: [[link](http://www.ib-sh.de/fileadmin/user_upload/downloads/Arbeit_Bildung/ZP_Arbeit/allgemein/vdb.pdf)]
ESF 2014-2020: [[link](http://www.ib-sh

[2016-09-06 16:12] seegerseeger opened #41 "DEG THÜRINGEN - Sourcing ERDF / ESF"
The ESF landing page is here: http://www.esf-thueringen.de/esf_2014/
The ERDF landing page is here: http://www.efre20-thueringen.de/efre_2014/

ESF 2007-2013: [[link](http://www.esf-thueringen.de/imperia/md/content/esf/dastmwtaundderesf/listederbeguenstigten/liste_der_beguenstigten_2014.pdf)]
ESF 2014-2020: [[link](http://www.esf-thueringen.de/imperia/md/content/esf_2014/listedervorhaben/liste_der

[2016-09-06 16:26] seegerseeger opened #42 "AT ÖSTERREICH - Sourcing ESF"
The landing page is [here](http://www.oerok.gv.at/eu-regionalpolitik/eu-strukturfonds-in-oesterreich-2007-2013.html). Further information can be found [here](https://www.bka.gv.at/site/6093/default.aspx).

An overview of the ESIF programs and associated amounts can be found [here](http://www.oerok.gv.at/fileadmin/Bilder/3.Reiter-Regionalpolitik/1._EU-Koehaesionspolitik/Tabelle_Strukturfondsmittel_

[2016-09-06 16:28] seegerseeger opened #43 "AT11 BURGENLAND - Sourcing ERDF"
The ERDF landing page is here: http://www.phasing-out.at

ESF 2007-2013: [[link](http://www.phasing-out.at/media/file/914_Projektliste_ESF_30.06.2016.pdf)]
ESF 2014-2020: national level

ERDF 2007-2013: [[link](http://www.phasing-out.at/media/file/822_Projektliste_EFRE_31.12.2012.pdf)]
ERDF 2014-2020: no data available yet, program only started in July 2016 as per the ministries information --> pr

[2016-09-06 16:30] seegerseeger opened #44 "AT12 NIEDERÖSTERREICH - Sourcing ERDF"
The ERDF landing page is here: http://www.phasing-out.at

ESF 2007-2013: [national]
ESF 2014-2020: [national]

ERDF 2007-2013: [[link](http://www.raumordnung-noe.at/fileadmin/root_raumordnung/land/eu_regionalpolitik/RWB_Niederoesterreich.pdf)]
ERDF 2014-2020: no data available yet, program only started in July 2016 as per the ministries information --> program is national see [[link](http://www.ef

[2016-09-06 16:31] seegerseeger opened #45 "AT13 WIEN - Sourcing ERDF"
The ERDF Wien dataset from 2007-2013 could not be found.

ERDF 2014-2020: no data available yet, program only started in July 2016 as per the ministries information --> program is national see [[link](http://www.efre.gv.at/)]

Tasks:
- locate the missing datasets
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK = data/UK)
- copy (!) contents from [thi

[2016-09-06 16:32] seegerseeger opened #46 "AT21 KÄRNTEN - Sourcing ERDF"
The ERDF landing page is here: http://kwf.at/

ESF 2007-2013: [national]
ESF 2014-2020: [national]

ERDF 2007-2013: [[link](http://kwf.at/downloads/deutsch/EU/Publizitaet_Kaernten.pdf)]
ERDF 2014-2020: no data available yet, program only started in July 2016 as per the ministries information --> program is national see [[link](http://www.efre.gv.at/)]

Cohesion 2007-2013: [none]
Cohesion: 2014-202

[2016-09-06 16:33] seegerseeger opened #47 "AT22 STEIERMARK - Sourcing ERDF"
The ERDF landing page is here: http://www.innovation-steiermark.at/de/projekte/verzeichnis/projektliste.php

ESF 2007-2013: [national]
ESF 2014-2020: [national]

ERDF 2007-2013: [[link](http://www.innovation-steiermark.at/de/projekte/verzeichnis/Beguenstigte_25.08.15_R57.pdf)]
ERDF 2014-2020: no data available yet, program only started in July 2016 as per the ministries information --> program is

[2016-09-06 16:34] seegerseeger opened #48 "AT31 OBERÖSTERREICH - Sourcing ERDF"
The ERDF landing page is here: http://www.regio13.at/de/publizitaet-download/verzbeg.html

ESF 2007-2013: [national]
ESF 2014-2020: [national]

ERDF 2007-2013: [[link](http://www.regio13.at/redx/tools/mb_download.php/mid.x596b672f63676a5359416f3d/Verzeichnis.pdf)]
ERDF 2014-2020: no data available yet, program only started in July 2016 as per the ministries information --> program is national see

[2016-09-06 16:35] seegerseeger opened #49 "AT32 SALZBURG - Sourcing ERDF"
Landing page: https://www.salzburg.gv.at/wirtschaft_/Seiten/efre-foerderung.aspx

ESF 2007-2013: [national]
ESF 2014-2020: [none]

ERDF 2007-2013: [[link](https://www.salzburg.gv.at/wirtschaft_/Documents/rwf-beguenstigte.pdf)]
ERDF 2014-2020: no data available yet, program only started in July 2016 as per the ministries information --> program is national see [[link](http://www.efre.gv.at/)]

Cohe

[2016-09-06 16:36] seegerseeger opened #50 "AT33 TIROL - Sourcing ERDF"
ESF 2007-2013: [national]
ESF 2014-2020: [none]

ERDF 2007-2013: [[link](https://www.tirol.gv.at/fileadmin/themen/tirol-europa/eu-regionalfoerderung-fuer-tirol/downloads/Regionale_Wettbewerbsf_higkeit/2014/Liste_der_Beguenstigten_April_14.pdf)]
Note: Currently it is unavailable. If this stays the case, it might not be retrievable.
ERDF 2014-2020: no data available yet, program only started in July

[2016-09-06 16:37] seegerseeger opened #51 "AT34 VORARLBERG - Sourcing ERDF"
ESF 2007-2013: [national]
ESF 2014-2020: [national]

Data added to Github as XLS file for ERDF 2007-2013 - via Michael's Hardrive (sent by ministry)
ERDF 2007-2013: [[link](https://www.vorarlberg.at/pdf/verzeichnisderbeguenstigt.pdf)]
ERDF 2014-2020: no data available yet, program only started in July 2016 as per the ministries information --> program is national see [[link](http://www.efre.gv.at/

[2016-09-07 10:08] seegerseeger opened #52 "BE BELGIUM - Sourcing ESF/ERDF"
For Belgium, the structural funds are partly managed by the three Regions:
1. Brussels - NUTS Code BE1
2. Vlaams - NUTS Code BE2
3. Wallonia - NUTS Code BE3

THe ESF landing page is available via http://www.fse.be/. Data is only partially available there. For 2007-2013, the data is tagged as "(coming soon)".

Tasks:
- create new file called **source.description.yaml** in corresponding subdirectory

[2016-09-07 10:11] seegerseeger opened #53 "BE1 RÉGION DE BRUXELLES-CAPITALE / BRUSSELS HOOFDSTEDELIJK GEWEST - Sourcing ESF/ERDF"
The landing page is here: http://www.plushaut.be/projets?page=65

ESF 2007-2013: [none / 'coming soon']
ESF 2014-2020: [none]

ERDF 2007-2013: [[link](https://sharing.oodrive.com/easyshare/wjshacc?action=download&s=M%2FBFSa3iRA5yGG6%2FYCAHd5p19JySMEUaASkcJ10hzAUg1kPYqIL7o87dr65z0NZCtT910OV%2BVeB9%0D%0A7DB3wC2%2FxmwgmwD7HL6u&iid=172984430)]
ERDF 2014-2020: [none]

Cohesion 2007-2013: [none]
Cohesio

[2016-09-07 10:13] seegerseeger opened #54 "BE2 VLAAMS GEWEST - Sourcing ESF/ERDF"
The landing page is here: http://www.vlaio.be/artikel/overzicht-van-goedgekeurde-projecten

ESF 2007-2013: [none / 'coming soon']
ESF 2014-2020: [none]

ERDF 2007-2013: [[link](http://www.vlaio.be/sites/default/files/documenten/ef_20120410_overzicht_projecten.xlsx)]
ERDF 2014-2020: [none]

Cohesion 2007-2013: [none]
Cohesion: 2014-2020: [none]
Note: Cohesion fund [not applicable](http://ec.europa.

[2016-09-07 10:16] seegerseeger opened #55 "BE3 RÉGION WALLONNE - Sourcing ESF/ERDF"
The landing page is here: http://europe.wallonie.be/?q=node/24 / http://europe.wallonie.be/?q=node/397

ESF 2007-2013: [none / 'coming soon']
ESF 2014-2020:  [[link](http://www.fse.be/index.php?eID=tx_nawsecuredl&u=0&file=fileadmin/sites/fse/upload/fse_super_editor/fse_editor/documents/2014-2020/projets_2014-2020/Liste_beneficiaires_-_final_-_13avril2016.xlsx&t=1476305925&hash=4f16d7e888410cf91888

[2016-09-07 10:21] seegerseeger opened #56 "BG БЪЛГАРИЯ (BULGARIA) - Sourcing ESF/ERDF/Cohesion"
The landing page is here: https://www.eufunds.bg/programen-period-2014-2020/operativni-programi-2014-2020/odobreni-proekti-i-benefitzienti / https://www.eufunds.bg/en/

ALL FUNDS 2007-today: [[link](http://umispublic.government.bg/prProcedureProjectsInfo.aspx?op=-1&proc=-2&clear=1)]

ERDF 2007-2013: [[link](https://www.eufunds.bg/archive/documents/1295449486.pdf)]
ERDF 2014-2020: [none]

Tasks:
-

[2016-09-07 10:27] seegerseeger opened #57 "HR HRVATSKA (CROATIA) - Sourcing ESF/ERDF/Cohesion"
The ERDF landing page is here: http://www.strukturnifondovi.hr/projekti

ALL FUNDS 2007-today: [[link](http://www.strukturnifondovi.hr/UserDocsImages/Documents/KartaProjekataZaWeb%201.4.2016.xls)]

Tasks:
- Describe each dataset in [yaml.schema](https://github.com/os-data/eu-structural-funds/blob/master/fields.official.yaml)
- Indicate of Each Data source the fileformat= WEB/PDF/CSV/XLS
- Upload e

[2016-09-07 10:30] seegerseeger opened #58 "CY ΚΥΠΡΟΣ (CYPRUS) - Sourcing ESF/ERDF/Cohesion"
The landing page is here: http://www.structuralfunds.org.cy/ / http://www.structuralfunds.org.cy/List-of-Operations / http://www.structuralfunds.org.cy/structuralfunds2007-2013/default.aspx?articleID=769

ALL FUNDS 2007-2013: [[link](http://www.structuralfunds.org.cy/structuralfunds2007-2013/uploadfiles/BeneficiariesLIST_FebERDF_CF_%CE%99%CF%83%CF%84%CE%BF%CF%83%CE%B5%CE%BB%CE%AF%CE%B4%CE%B11.xlsx

[2016-09-07 10:33] seegerseeger opened #59 "CZ ČESKÁ REPUBLIKA (CZECH REPUBLIC) - Sourcing ESF/ERDF"
The landing page is here: http://www.dotaceeu.cz/cs/Informace-o-cerpani/Mapa-projektu

ALL FUNDS ALL TIME: [[link](http://www.dotaceeu.cz/cs/Informace-o-cerpani/Seznamy-prijemcu)]

Tasks:
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK = data/UK)
- copy (!) contents from [this file](https://github.com/os-data/eu-structural-funds/blob/master/specifica

[2016-09-07 10:34] seegerseeger opened #60 "DK DANMARK (DENMARK) - Sourcing ESF/ERDF"
The landing page is here: https://regionalt.erhvervsstyrelsen.dk/

2014-2020: [[link](https://regionalt.erhvervsstyrelsen.dk/eu-projekt-eksport.csv)]
2007-2013: [[link](http://eustrukturfonde.dk/forside/0/2/0/[l][l]alle[l]alle[l]alle[l]alle[l][l])]

Tasks:
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK = data/UK)
- copy (!) contents from [this file]

[2016-09-07 11:32] seegerseeger opened #61 "EE EESTI (ESTONIA) - Source ESF/ERDF/Cohesion"
The landing page is here: http://www.struktuurifondid.ee/el-toetused-2014-2020/

ALL FUNDS ALL TIME: [[link](http://www.struktuurifondid.ee/list-of-beneficiaries/)]

Tasks:
- Describe each dataset in [yaml.schema](https://github.com/os-data/eu-structural-funds/blob/master/fields.official.yaml)
- Indicate of Each Data source the fileformat= WEB/PDF/CSV/XLS
- Upload every dataset

Comments: There is

[2016-09-07 11:35] seegerseeger opened #62 "FI SUOMI / FINLAND - Source ESF/ERDF - CSV files bad - columns merged together"
The ERDF landing page is here: https://www.rakennerahastot.fi/rahoitetut-hankkeet#.V1A2dJN95E4 / https://www.eura2014.fi/rrtiepa/projektilista.php?rahasto=ALL

ESF 2007-2013: [none]

ERDF 2007-2013: [[link](http://www.vorarlberg.at/pdf/r57.pdf)]
ALL FUNDS 2014-2020: [[link](https://www.eura2014.fi/rrtiepa/projektilista.php?rahasto=ALL&type=csv)]

Cohesion 2007-2013: [none]
Cohesion: 2014-2020: [no

[2016-09-07 11:38] seegerseeger opened #63 "FR FRANCE - Source ESF/ERDF"
The ERDF landing page is here: http://www.europe-en-france.gouv.fr/L-Europe-s-engage/Fonds-europeens-2014-2020 / http://cartobenef.asp-public.fr/cartobenef/

ALL FUNDS 2007-2013: [[link](http://www.europe-en-france.gouv.fr/Rendez-vous-compte/Projets-exemplaires?thematique=0&region=0&fonds=175&mot-cle=Mot%28s%29+cl%C3%A9%28s%29&annee=0&valider=Valider)]
ALL FUNDS 2014-2020: [[link](http://www.europ

[2016-09-07 11:42] seegerseeger opened #64 "EL Ελλάδα (GREECE) - Source ESF/ERDF/Cohesion"
The ERDF landing page is here: https://www.espa.gr/el/Pages/default.aspx / https://www.espa.gr/el/Pages/ProgramsList.aspx

ALL FUNDS ALL TIME: [[link](https://www.espa.gr/el/Documents/ListOfOperations_20151106.csv)]

Tasks:
- if datasets are missing, attempt to locate them using the landing pages indicated above
- create new file called **source.description.yaml** in corresponding subdirectory (e.

[2016-09-07 11:44] seegerseeger opened #65 "HU MAGYARORSZÁG (HUNGARY) - Sourcing ESF/ERDF/Cohesion"
The landing page is here: https://www.palyazat.gov.hu/

ESF 2007-2013: [none]
ESF 2014-2020: [none]

ERDF 2007-2013: [none]
ERDF 2014-2020: [none]

Cohesion 2007-2013: [none]
Cohesion: 2014-2020: [none]

Tasks:
- if datasets are missing, attempt to locate them using the landing pages indicated above
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK = d

[2016-09-07 11:48] seegerseeger opened #66 "IE IRELAND - Sourcing ESF/ERDF"
http://nwra.ie/operational-programme-2007-2013-2/

ESF 2007-2013: [none]
ESF 2014-2020: [none]

ERDF 2007-2013: [none]
ERDF 2014-2020: [none]

Cohesion 2007-2013: [none]
Cohesion 2007-2013: [none]

Tasks:
- if datasets are missing, attempt to locate them using the landing pages indicated above
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK = data/UK

[2016-09-07 11:58] seegerseeger opened #67 "NL NEDERLAND (THE NETHERLANDS) - Sourcing ESF/ERDF"
The landing page is here: https://www.europaomdehoek.nl/ / https://www.europaomdehoek.nl/projecten/?page=171&

ALL FUNDS ALL TIME: [[link](https://www.europaomdehoek.nl/assets/snippets/projects_export.php)]

Tasks:
- if datasets are missing, attempt to locate them using the landing pages indicated above
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK

[2016-09-07 12:01] seegerseeger opened #68 "IT ITALIA (ITALY) - Sourcing ESF/ERDF"
The landing page is here: http://www.opencoesione.gov.it/

ALL FUNDS ALL PROJECTS: [[link](http://www.opencoesione.gov.it/opendata/progetti_FS0713.zip)]
ALL FUNDS ALL PAYMENTS: [[link](http://www.opencoesione.gov.it/opendata/pagamenti_FS0713.zip)]

Tasks:
- if datasets are missing, attempt to locate them using the landing pages indicated above
- create new file called **source.description.yaml** i

[2016-09-07 12:05] seegerseeger opened #69 "LV LATVIJA (LATVIA) - Sourcing ESF/ERDF/Cohesion"
The landing page is here: http://www.esfondi.lv/zema-oglekla-emisija

ALL FUNDS 2007-2013: [[link](http://www.esfondi.lv/aktivitates)]
ALL FUNDS 2014-2020: [[link](http://www.esfondi.lv/es-fondu-projektu-mekletajs?&page=8)]

Tasks:
- if datasets are missing, attempt to locate them using the landing pages indicated above
- create new file called **source.description.yaml** in corresponding subdirec

[2016-09-07 12:14] seegerseeger opened #70 "LT LIETUVA (LITHUANIA) - Sourcing ESF/ERDF/Cohesion"
The landing page is here: http://www.esinvesticijos.lt/lt/

ALL FUNDS 2007-2013: [[link](http://www.esparama.lt/igyvendinami-projektai) - can't be directly linked (flash)]
ALL FUNDS 2014-2020 I: [[link](http://www.esinvesticijos.lt/lt/val_regionu_proj_aprasai?page=4
http://www.esinvesticijos.lt/lt/paraiskos_ir_projektai/xlsexport)]
ALL FUNDS 2014-2020 II: [[link](http://www.esinvesticijos.lt/lt/pa

[2016-09-07 12:16] seegerseeger opened #71 "LU LUXEMBOURG - Sourcing ESF/ERDF"
The ERDF landing page is here: http://www.fonds-europeens.public.lu/fr/projets-cofinances/index.php / http://www.fonds-europeens.public.lu/fr/projets-cofinances/index.php

ESF 2007-2013: [none]
ESF 2014-2020: [none]

ERDF 2007-2013: [none]
ERDF 2014-2020: [none]

Tasks:
- if datasets are missing, attempt to locate them using the landing pages indicated above
- create new file called **source.descr

[2016-09-07 12:17] seegerseeger opened #72 "MT MALTA - Sourcing ESF/ERDF"
The landing page is here: https://investinginyourfuture.gov.mt/projects

ESF 2007-2013: [none]
ESF 2014-2020: [none]

ERDF 2007-2013: [none]
ERDF 2014-2020: [none]

Tasks:
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK = data/UK)
- copy (!) contents from [this file](https://github.com/os-data/eu-structural-funds/blob/master/specifications/source.des

[2016-09-07 12:18] seegerseeger opened #73 "PL POLSKA (POLAND) - Sourcing ESF/ERDF"
The landing page is here: http://www.funduszeeuropejskie.gov.pl/ / http://www.mapadotacji.gov.pl/projekty

ALL FUNDS ALL TIME: [[link](http://www.mapadotacji.gov.pl/export?sort=none)]

Tasks:
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK = data/UK)
- copy (!) contents from [this file](https://github.com/os-data/eu-structural-funds/blob/master/speci

[2016-09-07 12:20] seegerseeger opened #74 "PT PORTUGAL - Sourcing ESF/ERDF/Cohesion"
The landing page is here: http://www.pofc.qren.pt/Projectos/Projectos-Aprovados-QREN?area=2&regiao=105&Search=y

ESF 2007-2013: [none]
ESF 2014-2020: [none]

ERDF 2007-2013: [none]
ERDF 2014-2020: [none]

Cohesion 2007-2013: [none]
Cohesion: 2014-2020: [none]

Tasks:
- if datasets are missing, attempt to locate them by starting with the landing page indicated above
- create new file called **sourc

[2016-09-07 12:21] seegerseeger opened #75 "RO ROMÂNIA (ROMANIA) - Sourcing ESF/ERDF/Cohesion"
The landing page is here: http://www.fonduri-ue.ro/

ESF 2007-2013: [none]
ESF 2014-2020: [none]

ERDF 2007-2013: [none]
ERDF 2014-2020: [none]

Cohesion 2007-2013: [none]
Cohesion: 2014-2020: [none]

Tasks:
- if datasets are missing, attempt to locate them using the landing pages indicated above
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK = data

[2016-09-07 12:23] seegerseeger opened #76 "SK SLOVENSKO (SLOVAKIA) - Sourcing ESF/ERDF/Cohesion"
The landing page is here: http://www.nsrr.sk/sk/mapa-realizovanych-projektov-po-2007-2013/ / http://www.nsrr.sk/cerpanie/

ALL FUNDS 2007-2013: [[link](http://www.nsrr.sk/download.php?FNAME=1385992763.upl&ANAME=zoznam-13_11_30.xls)]
ALL FUNDS 2014-2020: [none]

Tasks:
- if datasets are missing, attempt to locate them using the landing pages indicated above
- create new file called **source.descrip

[2016-09-07 12:25] seegerseeger opened #77 "SI SLOVENIJA (SLOVENIA) - Sourcing ESF/ERDF/Cohesion"
The landing page is here: http://www.eu-skladi.si/razpisi#c1=upravicenec&c0=40 / http://www.eu-skladi.si/sl/seznam-projektov

ALL FUNDS 2007-2013: [[link](http://www.eu-skladi.si/sl/dokumenti/seznam-upravicencev-2007-2013/upravicenci-vsi-4-07-2016-uvoz.xlsx)]
ALL FUNDS 2014-2020: [[link](http://www.eu-skladi.si/sl/dokumenti/seznam-projektov/seznam-projektov-28-6-2016.xls)]

Tasks:
- if datasets ar

[2016-09-07 12:26] seegerseeger opened #78 "ES ESPAÑA (SPAIN) - Sourcing ESF/ERDF"
The ERDF landing page is here: http://www.dgfc.sgpg.meh.es/sitios/DGFC/es-ES/Paginas/BeneficiariosFederCohesion.aspx

ESF 2007-2013: [none]
ESF 2014-2020: [none]

ERDF 2007-2013: [none]
ERDF 2014-2020: [none]

Tasks:
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for UK = data/UK)
- copy (!) contents from [this file](https://github.com/os-data/eu-structura

[2016-09-07 12:29] seegerseeger opened #79 "SE SVERIGE (SWEDEN) - Sourcing ESF/ERDF"
The landing page is here: http://www.tillvaxtverket.se/huvudmeny/euprogram.4.418280eb12db85acaec80005362.html

ALL FUNDS 2007-2013: [[link](http://projektbank.tillvaxtverket.se/projektbanken#page=eruf)]
ALL FUNDS 2014-2020: [[link](http://projektbank.tillvaxtverket.se/projektbanken2020#page=eruf)]

Tasks:
- create new file called **source.description.yaml** in corresponding subdirectory (e.g. for

[2016-09-07 12:33] seegerseeger opened #80 "UK UNITED KINGDOM - Sourcing ESF/ERDF"
The UK is a special case since @balkey already did great work in gathering all the data:

ESF 2007-2013: [[here](https://github.com/atlatszo/data/tree/master/Brexit)]
ESF 2014-2020: [none]

ERDF 2007-2013: [[here](https://github.com/atlatszo/data/tree/master/Brexit)]
ERDF 2014-2020: [none]

Tasks:
- the data will be transferred by @cyberbikepunk (?)

[2016-09-07 13:31] ferblape commented on #78
Link seems broken, maybe you can try with this one: http://www.dgfc.sepg.minhap.gob.es/sitios/dgfc/es-ES/Paginas/BeneficiariosFederCohesion.aspx

[2016-09-08 10:41] cyberbikepunk opened #83 "Finalize YAML template for describing sources"

[2016-09-08 10:47] cyberbikepunk opened #84 "Identify all codelists"
There are currently 3 codelists:

- [x] currency_code
- [ ] fund_name: issue #88
- [ ] priority_number: issue #23

We need them **all**. Please add at least empty YAML files with a comment on the first line inside the `codelists` folder. The file must be named after an official field.

[2016-09-08 10:49] annafralberts commented on #24
@cyberbikepunk are you now taking this one over?

[2016-09-08 11:04] cyberbikepunk commented on #83
See #15

[2016-09-08 11:04] #83 closed

[2016-09-08 11:09] cyberbikepunk commented on #13
hey @seegerseeger and @annafralberts we need a definitive list of fields. This is a high priority.The file is now in `specifications/official.fields.yaml`.

[2016-09-08 11:19] cyberbikepunk opened #85 "Modify the guidelines"
Modify the guidelines to take into effect the changes in the specs and pipeline approach. Split up the current document in the wiki.
- [x] Sourcing
- [ ] Extracting
- [ ] Transforming

Also:
- [ ] Modify the diagram

[2016-09-08 11:21] cyberbikepunk commented on #24
see #13

[2016-09-08 11:21] #24 closed

[2016-09-08 11:31] cyberbikepunk commented on #15
@annafralberts this issue is dependent on the `fields.official.yaml` file. See issue #13.

[2016-09-08 11:40] cyberbikepunk opened #86 "Implement data validation and reporting"
Implement a simple pipeline validator to validate source files against the description provided by the *volunteers*. It would be best if this could be implemented directly into `datapackage-pipelines`. It looks like this involves producing a report that either confirms that a data-package at step N is okay or lists all the schema + table errors.

[2016-09-08 11:54] cyberbikepunk opened #87 "Write the YAML file processor"
This script must:

- [ ] `glob` all `source.schema.yaml`
- [ ] add `name` (slugify from `title`)
- [ ] convert to `source.description.json
- [ ] validate each schema
- [ ] add a little error report to the local source folder

[2016-09-08 12:21] cyberbikepunk opened #88 "Create the codelist fund_name.yaml"

[2016-09-08 14:17] cyberbikepunk commented on #86
I filed an issue in the [`datapackage-pipelines` repository](https://github.com/frictionlessdata/datapackage-pipelines/issues/2).

[2016-09-08 14:24] cyberbikepunk opened #89 "Write a simple but complete pipeline using the datapackage-pipelines framework"
Implement a proof-of-concept using the `datapackage-pipeline` framework. The simplest pipeline possible is:

**Input** = a `simple_remote_source`
**Output** = a Fiscal Data Package on Open-Spending

Related issues are:

- [ ] #86 Implement validation and reporting

[2016-09-08 16:18] #15 closed

[2016-09-08 16:19] cyberbikepunk commented on #15
Done: the file is `specifications/source.description.yaml`.

[2016-09-11 10:39] ruimgbarros commented on #74
Going to try to do this. Might need some review.

[2016-09-13 08:14] annafralberts commented on #25
I am also working on a glossary of EU terms, that might also be in line with this one.

[2016-09-13 08:14] annafralberts commented on #13
Yes! First version done

[2016-09-13 10:31] cyberbikepunk opened #97 "Feedback on the sourcing process"
Thanks for helping out source the data!

Please use this thread to give feedback about sourcing. In particular, we would like to know how we could improve the [`source.description.yaml`](https://github.com/os-data/eu-structural-funds/blob/master/specifications/source.description.yaml) template and the list of official fields [`official.fields.yaml`](https://github.com/os-data/eu-structural-funds/b

[2016-09-13 12:07] cyberbikepunk commented on #80
@seegerseeger hey can you explain to me what bla bla is.

[2016-09-13 12:13] cyberbikepunk commented on #97
It would be nice to have a field to specify which fund the data file refers to.

[2016-09-14 09:52] cyberbikepunk commented on #25
@annafralberts I taking myself off this one. Can we have this as part of the wiki?

[2016-09-15 10:11] seegerseeger commented on #57
Starting to work on the sourcing.

[2016-09-16 09:46] oargueso commented on #64
Working on the sourcing

[2016-09-16 16:28] cyberbikepunk commented on #64
Hey Olaya @oargueso

So is it easy for you to describe the columns that will be coming out of the REST API?

[2016-09-16 16:34] cyberbikepunk commented on #64
@oargueso Okay I just went back to the site and I see that the data is nested (projects > subprojects). The information will have to be _flattened_. This means that your field descriptions will include both:

[code]

[2016-09-16 16:52] oargueso commented on #64
Ok, @cyberbikepunk that was something I was wondering. So you want me to use the fields from the 'second level', right? However, the fields in the doc for the API and the actual fields in the JSON file are different (there is much more information in the JSON: http://anaptyxi.gov.gr/GetData.ashx?queryType=projectDetails&queryArgument=270815&outputFormat=json).

One more thing: I am describing the

[2016-09-16 17:11] cyberbikepunk commented on #64
@oargueso wow! im impressed by greece. the data is sweet. so just play around & describe the  data we'll actually be getting as JSON. and as a general rule, we want to collect as much info as possible!

[2016-09-16 17:49] oargueso commented on #64
Still another question, @cyberbikepunk !

When adding the fields to the .yaml file, I have flattened them. For those fields that contained a list, I have set `type: "list"`. Hope that's ok!

[2016-09-16 18:10] oargueso commented on #68
Hey, @seegerseeger . The data in the Italy dir are the ones for Lithuania :)

[2016-09-16 19:15] cyberbikepunk commented on #64
Actually by flattening i was suggesting that you avoid exactly that. Just move the subprojects fields at the top level. Also:  i maybe its not that critical to describe both datasets if we're gonna only use the api version. You might want to save some of your energy .

[2016-09-20 08:37] seegerseeger commented on #68
Thanks for noticing @oargueso! It's fixed now.

[2016-09-20 10:11] seegerseeger commented on #42
Starting the sourcing process on this!

[2016-09-20 13:00] seegerseeger commented on #68
Thanks @oargueso! Should be fixed now :)

[2016-09-20 16:16] cyberbikepunk commented on #97
Some fields don't have to be specified in the source description: they'll be inferred from context. @annafralberts to make the following codelists:
- [ ] `operational_program_code`
- [ ] `priority_number`
- [ ] `management_authority`
- [ ] `certifying_authority`
- [ ] `intermediate_authority`
- [ ] `approval_body`

Note: this is **NOT** top priority. The pipeline can do without. It's nice to have

[2016-09-20 16:17] cyberbikepunk commented on #97
Some fields are missing from the description file:
- [x] `fund_name`
- [x] `start_date` and `end_date`
- [x] `expiry_date`

@seegerseeger @annafralberts please complete help me complete this list.

[2016-09-20 16:35] cyberbikepunk commented on #97
`publication_version` is confusing for everyone.

[2016-09-20 17:00] cyberbikepunk commented on #97
In `extraction_mode` change `download_link` to something like `csv_or_excel` because PDF files also have a download link.

[2016-09-20 17:02] cyberbikepunk commented on #97
Get rid of:
- [x]  `missing_values` in `fields`
- [x] `period` option in `fields:type`

[2016-09-20 18:11] seegerseeger commented on #57
done!

[2016-09-21 12:17] cyberbikepunk commented on #97
@seegerseeger and @annafralberts can you carefully go over the [new version of the source description](task/1091/pipeline-specs) file and check that:
- [ ] everything makes sense
- [ ] there are no mistakes like `required` fields etc...

Also @annafralberts do we really need `total_payment` and `project_date` as a separate fields. Can we not use directly one of the other (more precise) payment and

[2016-09-21 12:19] cyberbikepunk commented on #97
@annafralberts @seegerseeger  I waiting for the other PR and I'll reopen this one as soon as it's done. In the meantime you can check it out [here](https://github.com/os-data/eu-structural-funds/blob/task/1091/pipeline-specs/specifications/source.description.v2.yaml).

[2016-09-22 09:41] seegerseeger commented on #80
starting to source this now.

[2016-09-26 13:13] seegerseeger commented on #57
sourcing complete, ready for transformation / pipeline!

[2016-09-26 13:55] cyberbikepunk opened #111 "Bootstrap one pipeline at a time"
Before I continue working on the France pipeline, I just want to add the possibility of bootstrapping one pipeline at a time, to avoid multiple unrelated changes in the repo.

cs  @akariv

[2016-09-26 14:10] cyberbikepunk opened #112 "Excel URL streamer"
Need to stream excel files into the pipeline from urls.

So @akariv : should i implement this as a service like so?

can't we just use the `iter` method of the `datapackage.Resource` class (cc @roll) ?

[code]

[2016-09-26 15:49] akariv commented on #112
Yes, I agree that using tabulator is the better option.

[2016-09-26 18:53] pwalsh commented on #112
you cant stream an excel file from a URL with the python excel libs (or any others that I personally know about). you can only stream read from a local file buffer. i don't know how tabulator is handling this internally ( @roll ? ) but when i wrote the handling of such cases in goodtables i wrote from the remote file to a local buffer, and then streamed out of that. probably inefficiently (at leas

[2016-09-26 18:57] roll commented on #112
For xlsx tabulator does a true streaming via http and for xls it's not possible so local buffer approach

[2016-09-26 19:00] roll commented on #112
@cyberbikepunk
Just for files tabulator is really straight to use. No need of datapackage.

[2016-09-26 19:00] pwalsh commented on #112
@roll ok great!

[2016-09-27 11:04] seegerseeger commented on #77
sourcing is done.

[2016-09-27 13:30] seegerseeger commented on #79
taking this on now! :fist:

[2016-09-28 14:15] seegerseeger commented on #70
taking this on now!

[2016-09-28 17:04] cyberbikepunk opened #118 "Improve the conversion step: source.description.yaml > source.datapackage.json"
There are a few things that I'm not doing quite right I think.

- [x] I should be doing the conversion inside a pipeline processor instead of the function `create_datapackage` in `bootstrap.py`
- [x] `pipeline-spec.yaml` must use sub-fields of `parameters` (e.g. NOT `parameters: myvalue`)
- [x] all yaml and datapackage error messages should go into a different file called `source.errors.yaml` or s

[2016-09-28 17:52] pwalsh commented on #118
Hey. I don't know what the dashboard is or does, but I do know that we don't strictly need one (it is not part of the project or product requirements), so don't try to solve that problem (first, solve our critical path for getting the data into OpenSpending in a reproducible manner).

[2016-09-28 18:02] cyberbikepunk commented on #118
@pwalsh That was a misnomer: by dashboard i just mean a very simple overview of what is going on in the branches of the pipeline. It could be as simple as a status file. i.e. not a website or anything complicated. I completely agree with you about the critical path.

[2016-09-28 19:24] cyberbikepunk commented on #112
@roll I've noticed that the `DatapPackage.Resource._iter_from_tabulator` method tries to cast fields quite aggressively. I don't know why I should get an error like:

[code]

Couldn't this also be a string?

cc @pwalsh @akariv

[2016-09-28 19:41] roll commented on #112
@cyberbikepunk I suppose @akariv was working on this cast thing on DP level and that's an expected behavior - DP ensures data follow JTS or raise an error. It's a contract between the DP lib and an user - data is always compliant to schema.

[2016-09-29 09:31] akariv commented on #112
Can you share the complete stack trace?

On Wed, Sep 28, 2016 at 10:41 PM roll notifications@github.com wrote:

[2016-09-29 10:09] cyberbikepunk commented on #112
FYI @roll @pwalsh talked to adam about this: I'm reading in from excel and i didn't realize that I was getting typed information from excel.

[2016-09-29 10:18] pwalsh commented on #112
@cyberbikepunk ok.

@roll @akariv in goodtables, when reading from excel, i forced everything to string to make things "consistent". this has disadvantages, esp. with dates and the way excel represents those, but i wonder if, in tabulator, it is useful to have a param to the excel parser that forces it to emit values as strings?

[2016-09-29 12:31] roll commented on #112
@cyberbikepunk
@akariv
About excel to string parameter - it's easy to add so please create an issue for tabulator if you'll decide to have it.

[2016-09-29 12:34] cyberbikepunk commented on #112
@pwalsh the strict typing that comes out from excel kind of breaks down the "human" work-flow that we've been doing so far, in the sense that non-tech people can't reliably describe the columns types. Bottom line: I would vote for a flag in the tabulator that says: "strings please". If everyone's finds this useful, I will file in issue for @roll

cc @akariv

[2016-09-29 12:38] pwalsh commented on #112
@cyberbikepunk ok no problem. A common way to handle this when you encounter issues in dependencies for our own tooling would be that you do a patch and submit a PR. However, I think it will be quicker for @roll to do this himself, so yes, please file an issue and he can do a quick enhancement here.

@roll you will encounter weirdness with dates:
- https://github.com/frictionlessdata/goodtables/bl

[2016-09-29 14:47] cyberbikepunk commented on #112
@roll @pwalsh  do you know how a date in `xls` like `01/01/2014` can come out as `41640.0` ? I don't know what format this is.

[2016-09-29 14:57] pwalsh commented on #112
Loic can't you start with a simpler case of csv just to get things working end to end first, otherwise you will get lost in details like this.

[2016-09-29 14:58] pwalsh commented on #112
But the answer is that excel stores dates as floats.

[2016-09-29 15:46] cyberbikepunk commented on #112
@pwalsh honestly i wasn't anticipating that excel was going to be that tricky. I got the data in now by cleaning some of the bad cells manually and I learned an important lesson: we absolutely need this feature of ingesting everything as strings because the streamer will fail if the data is not _perfectly_ clean and this is never the case. Most of the files we've sourced so far are Excel files.

[2016-09-29 17:55] #111 closed

[2016-09-29 17:57] cyberbikepunk opened #121 "Complete the pipeline for France 2014-2020"
What remains to be done is:

- [x] map the columns
- [x] prepare the fiscal datapackage
- [x] upload with gobble

- Mapping = adding one or a couple of processors to the pipeline

- FDP = writing `specifications/fiscal.metadata.yaml`, taking a fake one line CSV file with all the columns in `specifications/fiscal.schema.yaml`,  packaging it online and grabbing the `datapackage.json` back. Safer and

[2016-09-30 17:26] annafralberts commented on #63
@cyberbikepunk This one is in the making, no?

[2016-09-30 17:55] annafralberts commented on #80
@cyberbikepunk  Hey hey, is this now being extracted?  Otherwise I would love to give it out someone :)

[2016-10-03 09:31] ferblape commented on #71
Picking this one.

[2016-10-03 09:34] annafralberts commented on #71
Cool! I looked at it but it is a bit too hard for me. Know where to find us
for questions

Op 3 okt. 2016 11:32 schreef "Fernando Blat" notifications@github.com:

[2016-10-05 10:00] cyberbikepunk commented on #121
Closing. See [here](https://github.com/openspending/openspending/issues/1092).

[2016-10-06 08:21] cyberbikepunk commented on #121
Done.

[2016-10-06 08:21] #121 closed

[2016-10-06 08:23] cyberbikepunk commented on #89
Done: see [here](http://next.openspending.org/viewer/5df4a7b06a940c992d1c44525daff47b:eu-esif-funds-beneficiaries-200-2020?lang=en&measure=total_amount_eligible.sum&groups%5B%5D=fin_source_2.fund_acronym&order=total_amount_eligible.sum%7Cdesc&visualizations%5B%5D=Treemap).

[2016-10-06 08:23] #89 closed

[2016-10-06 08:26] cyberbikepunk commented on #84
This is the complete list of codelists, as far as I can tell:

[code]

Either a complete file or a template has been added for each one. I'm closing this issue because it was about listing them.

cc @annafralberts

[2016-10-06 08:26] #84 closed

[2016-10-06 08:28] cyberbikepunk commented on #97
I'm closing this issue. We are now using version 3 of the source description file and v2 of the fiscal fields. I'm hoping that there will be no more backwards incompatible changes from now on.

[2016-10-06 08:28] #97 closed

[2016-10-06 08:35] cyberbikepunk opened #125 "Scrape programs and create CCI codelist"
Each CCI code is associated to an eu operational program. What needs to be done is:
- [ ] Scrape the [programs](http://ec.europa.eu/regional_policy/en/atlas/programmes/)
- [ ] Create a codelist `cci_program_code`: `cci_program_title`

Note: the programs are different from one funding period to another.

cc @akariv @annafralberts @seegerseeger

[2016-10-06 08:45] cyberbikepunk commented on #13
V3 done. closing.

[2016-10-06 08:45] #13 closed

[2016-10-06 08:57] cyberbikepunk opened #126 "Provide requirements and instructions on how to run the pipeline"
Other people need to be able to write and run the pipeline. So:

- [x] provide requirements.txt
- [x] provide instructions on running `dpp`
- [x] provide instruction on writing a pipeline

cc @pwalsh

[2016-10-06 08:59] cyberbikepunk commented on #125
The programs portal has a lot of information, including about managing authorities. There is a one to one relationship between programs and managing authorities.

I'm not quite sure if we should include managing authorities in the data structure. I think we should be able to filter by managing authority as well as program.

cc @annafralberts @akariv @seegerseeger

[2016-10-06 09:04] cyberbikepunk commented on #125
One question I have for @annafralberts is: there are a list of "priorities" for each program(different from the global `priority_number`. Do we want this category to be actionable?

[2016-10-06 10:56] cyberbikepunk commented on #126
One issue is the relation of the `common` processors directory.

Outside of PyCharm, this happens when I want to import a module from `plumbing`:

[code]

[2016-10-06 11:11] pwalsh commented on #126
you have some basic python packaging tasks to do: use of `__init__.py`, add the package to the python path, and so on. due to this repo being a diverse mix of code and data, how you go about this is open for debate. I'm still not sure when I read it how everything is imported at runtime, for example, custom code in a data directory.

[2016-10-06 11:17] akariv commented on #126
processors are run in their own directory (so that they can use files without having to know anything about relative paths).
If you want to import stuff from a special place, then best thing is to add that to the PYTHONPATH.
BTW, any reason not to have the plumbing code (or some of it, at least), under the common directory?

[2016-10-06 13:08] cyberbikepunk commented on #126
Ideally i want to have all the code in one place to deal with imports correctly. I guess i could use the `common` directory for all python code and put the common processors in a folder called `processors`. That would be the easiest.

[2016-10-06 13:17] akariv commented on #126
in that case yes, putting everything in one directory would be easiest.

[2016-10-07 07:12] cyberbikepunk opened #128 "Create codelist theme_code"
The themes (or "Thematic Priorities in EU language) are different from one funding period to another. This requires scraping [EU-programs](http://ec.europa.eu/regional_policy/en/atlas/programmes/). See issue #125 .

cc @annafralberts

[2016-10-07 08:47] cyberbikepunk commented on #126
@pwalsh @akariv do I need python2 support? Since it's not a library, I was tempted to go for python3 only. Everything I've written so far is python3.

[2016-10-07 09:23] #86 closed

[2016-10-10 11:25] seegerseeger commented on #60
Hey @oargueso, are you still working on this? I'd take a go at it otherwise :)

[2016-10-10 13:15] cyberbikepunk opened #132 "Add Travis"
Add Travis for all python 3 versions.

[2016-10-10 13:17] cyberbikepunk opened #133 "Ignore zip files"
Ignore `zip` dumps generated by the `dump` processor.

[2016-10-10 16:24] cyberbikepunk opened #135 "Use source metadata instead of "master" metadata"
The processor `load_fiscal_datapackage` loads the master datapackage, including the metadata. But we actually want the metadata pertaining to the source.

[2016-10-10 18:27] #133 closed

[2016-10-11 04:24] oargueso commented on #60
Hi! Sorry, just saw this. No, I am not working on that. The structure is too complicated! 😔

[2016-10-11 06:36] ferblape commented on #71
I'm a bit blocked with this scraper, because my Python skills are not the best, and parsing the amount of the project is being really complicated, because it's not consistent accross the projects.

[2016-10-11 10:29] #126 closed

[2016-10-11 11:43] michaeljokf commented on #35
@seegerseeger

the landing page is not correct (its from Niedersachsen)
The NRW ones are:
ERDF: [link](https://www.efre.nrw.de/index.php)
ESF: [link](https://www.mais.nrw/europaeischer-sozialfonds)

[2016-10-11 15:17] annafralberts commented on #65
Atlatszo has all this data. Do email balkey80@gmail.com

[2016-10-11 17:13] annafralberts commented on #60
Data is in the file, will add descriptions

[2016-10-11 17:33] annafralberts commented on #35
are you done with this one Michael?

[2016-10-11 18:15] annafralberts commented on #76
2007-2013:
And landing page with all explanation here: http://www.nsrr.sk/cerpanie/
CSV file here: http://www.nsrr.sk/download.php?FNAME=1447937463.upl&ANAME=2007-2013_Zoznam_prijimatelov.csv

[2016-10-11 18:21] michaeljokf commented on #35
yes the sourcing was done (separately as discussed) and the data seems complete, but the pull request still has to be accepted. ;)

[2016-10-11 18:42] annafralberts commented on #62
All Data 2007-2013 information: https://www.eura2007.fi/rrtiepa/
URL: https://www.eura2007.fi/rrtiepa/projektilista.php?rahasto=ALL
CSV: https://www.eura2007.fi/rrtiepa/projektilista.php?rahasto=ALL&type=csv

[2016-10-11 18:52] annafralberts commented on #62
All Data 2014-2020: https://www.eura2014.fi
URL: https://www.eura2014.fi/rrtiepa/projektilista.php?rahasto=ALL
csv:  https://www.eura2014.fi/rrtiepa/projektilista.php?rahasto=ALL&type=csv

[2016-10-11 19:39] annafralberts commented on #58
List of projects 2014-2020 1 EMPTY: http://www.structuralfunds.org.cy/List-of-Operations
List of projects 2014-2020 2 EMPTY: http://www.structuralfunds.org.cy/OP-List-of-Operations

We need to request data through here: http://www.structuralfunds.org.cy/Contact-Us

[2016-10-11 19:45] annafralberts commented on #52
ESF in Belgium has three components: belgium, francophone, flamish.
French Section ESF 2007-2013: http://www.fse.be/index.php?id=289
http://www.fse.be/index.php?eID=tx_nawsecuredl&u=0&file=fileadmin/sites/fse/upload/fse_super_editor/fse_editor/documents/2007-2013/FEI/Liste_de_projet_FEI_agrees_2007-2013.pdf&t=1476304924&hash=82120e55b9655d1bc0dee4bf0ace08ce371d3801

[2016-10-11 19:54] annafralberts commented on #52
@seegerseeger hey hey, which datasets are on the level of Belgium? It seems that both ESF and ERDF are divided by the three regions, as far as I read

[2016-10-11 19:56] annafralberts commented on #55
ERDF 2014-2020: http://europe.wallonie.be/?q=node/397
pdf or xml

[2016-10-11 19:58] annafralberts commented on #55
Web Portal for Brussel and Wallonia Together: http://www.plushaut.be/projets
Why don't we just scrape that? Easier than pdf and it seems also more information.

[2016-10-11 19:59] annafralberts commented on #55
ESF Brussel + Wallonie 2014-2020 in excel:

http://www.fse.be/index.php?eID=tx_nawsecuredl&u=0&file=fileadmin/sites/fse/upload/fse_super_editor/fse_editor/documents/2014-2020/projets_2014-2020/Liste_beneficiaires_-_final_-_13avril2016.xlsx&t=1476305925&hash=4f16d7e888410cf91888d4d3e863c11d1af62037

[2016-10-11 20:07] annafralberts commented on #55
ERDF 2007-2013 Wallonia and Brussel: http://europe.wallonie.be/?q=node/24

[2016-10-11 20:09] annafralberts commented on #53
Same as Wallonia, all my notes are in that issue.

[2016-10-11 20:18] annafralberts commented on #54
ERDF 2014-2020 missing. Email responsible person here:  http://www.vlaio.be/artikel/efro-beheersautoriteit-en-centraal-programmasecretariaat
I will email

[2016-10-11 20:20] annafralberts commented on #54
ESF all projects: http://www.esf-vlaanderen.be/nl/projectenkaart

[2016-10-11 20:49] annafralberts commented on #74
@ruimgbarros How is this one going? I am looking at the portals but I cannot really make sense of it because of the portuguese, can you help me make sense of it.
Is this the list for both ESF, Cohesion and ERDF from 2007-2013? http://www.qren.pt/np4/%7B$clientServletPath%7D/?newsId=3001&fileName=Lista_Operacoes_QREN_mar15.xlsx

[2016-10-11 20:50] annafralberts commented on #74
and is there a list for 2014-2020 as well? I cannot find anything here at least: http://www.qren.pt/np4/2014_2020
If not, could you send a nice email to the authority asking them for the data :)

[2016-10-11 21:00] annafralberts commented on #65
Hungary portal: http://eupalyazatiportal.hu/nyertes_palyazatok/
Data downloaded from here: http://adat.atlatszo.hu/eu-kereso/ now on file

[2016-10-11 21:10] annafralberts commented on #42
@seegerseeger how is this going? what are the data formats? mainly pdf?

[2016-10-11 21:25] annafralberts commented on #42
As far as I can see, there is one "latest datasets" for ESF:
http://www.esf.at/esf/wp-content/uploads/Verzeichnis-der-Beg%C3%BCnstigten-2014.pdf

@seegerseeger what do you think?

[2016-10-11 21:28] annafralberts commented on #51
link broken.
New link: https://www.vorarlberg.at/pdf/verzeichnisderbeguenstigt.pdf 2007-2013

[2016-10-11 21:46] annafralberts commented on #43
Check out the geodatenbank, that might be much easier to scrape than the pdf: http://www.phasing-out.at/de/geodatenbank that is for 2007-2014.

The new period has a new website: http://www.eu-service.at/
Let's give them a ring tomorrow for the data here:
Das Regionalmanagement Burgenland hilft Ihnen an gleich zwei Standorten weiter:
Regionalmanagement Burgenland GmbH

Technologiezentrum, Marktstra

[2016-10-11 21:57] annafralberts commented on #45
@michaeljokf page of wien here: https://www.wien.gv.at/english/politics/international/eu/funding/eufa.html

But I couldn't find anything, best to contact them with a nice email (only for ERDF)

[2016-10-11 22:05] annafralberts commented on #78
2007-2013 ERDF + Cohesion, 19 PDFs - see @ferblape link.
example of structure:
http://www.dgfc.sepg.minhap.gob.es/sitios/dgfc/es-ES/Beneficiarios%20Fondos%20Feder%20y%20Fondos%20de%20Cohesin/PO%20FCH3816.pdf
19 x the same structure. Worth writing a pdf scraper for, also worth requesting in excel

[2016-10-11 22:34] annafralberts commented on #75
Open Data Portal, 2007-2013: http://data.gov.ro/dataset/transparentizare_smis

or here: http://www.fonduri-ue.ro/images/files/implementare-absorbtie/Lista_proiectelor_contractate_31_august_2016.zip

[2016-10-11 22:36] annafralberts commented on #75
Portal All funds (?): http://old.fonduri-ue.ro/baza-de-date-proiecte-contractate

[2016-10-11 22:39] annafralberts commented on #71
@cyberbikepunk can you help ferblape on the way?
or maybe someone else of the OS team?

[2016-10-11 22:55] annafralberts opened #149 "DE Deutschland"
In Germany, some funds are allocated both at the bundes- and at the state-level.

ESF at federal level: http://www.esf.de/portal/DE/Foerderperiode-2014-2020/ESF-Programme/inhalt.html

I cannot find the ESF at bundeslevel for 2014-2020.

Request the file at:
Bundesministerium für Arbeit und Soziales
Referat EF 1 - Europäischer Sozialfonds: Verwaltungsbehörde
Arnold Hemmann
Rochusstraße  1
53123 Bon

[2016-10-11 23:02] annafralberts commented on #26
new fresh data: https://efre-bw.de/wp-content/uploads/Liste-der-Vorhaben_31-03-2016.xlsx#

[2016-10-11 23:07] annafralberts commented on #28
Fresh Berliner data: http://www.berlin.de/sen/wirtschaft/gruenden-und-foerdern/europaeische-strukturfonds/efre/publikationen/liste-der-vorhaben-2016-03-30_final.xlsx

[2016-10-11 23:17] annafralberts commented on #29
contact for request excel files and new data for 2014-2020:
Für allgemeine Fragen zum EFRE und Hinweise:
Frau Hermannek
Tel. 0331/866-1601
efreinfo@mwe.brandenburg.de

Pressestelle:
Frau Beyerlein
Tel. 0331/866-1509
E-Mail

[2016-10-11 23:54] annafralberts commented on #66
ERDF in southern and eastern region here: http://www.southernassembly.ie/en/project/view_projects

[2016-10-11 23:58] annafralberts commented on #66
For ESF ireland has a national portal.
I cannot find 2014-2020 yet. So we have to nicely ask again at:
Address:
ESF Policy and Operations Unit

Department of Education and Skills

Block 2, Floor 2

Marlborough Street

Dublin 1

D01 RC96

Phone: 01 889 6400

Fax:      01 889 2040

Email Addresses:
Queries relating to 2014-2020 ESF Programme for Employability, Inclusion and Learning: peil@education.

[2016-10-12 08:05] michaeljokf commented on #45
ok will do!

[2016-10-12 09:17] cyberbikepunk commented on #71
@ferblape Thanks for your contribution. You want to leave out the parsing for the pipeline and return everything as raw strings. We're separating concerns.

[2016-10-12 14:42] michaeljokf commented on #30
@annafralberts didnt you find some of the 2014-2020 data? would be great if you could link it here

[2016-10-12 15:04] annafralberts opened #152 "add field to official schema"
Hi @cyberbikepunk

Found a field we haven't thought of yet: project status. The column itself shows numbers: 1, 2 or 3.

Can you add it as a field.

Thanks!

[2016-10-12 17:09] cyberbikepunk commented on #152
Thanks @annafralberts ooh more info! what is this field? Can you paste a link to the data? Do you know what the numbers correspond to?

[2016-10-12 18:06] annafralberts commented on #76
Sourcing file 2007-2013 done

[2016-10-12 18:07] annafralberts commented on #152
New fields I added in the slovak dataset, please add in the model:
        - name: Vyčerpané prostriedky: EÚ zdroje
          translates_to: paid out resources: EU Funds
          maps_to: total_amount_awarded_eu

[code]

[2016-10-12 18:38] ferblape commented on #71
Ok

On 12 October 2016 at 11:17, **loic** notifications@github.com wrote:

##

Fernando Blat
twitter.com/ferblape

Populate / Tools for civic engagement
http://populate.tools

Weekly digest of interesting links and project news
getrevue.co/profile/populate

[2016-10-12 19:12] annafralberts commented on #152
I used to have a general date field for projects. Can we add that again?
project_date it was called I think.

Because all the german datasets have the following: Year of Approval/Year of final payment.
so there a more general column might be good.
Thanks

[2016-10-12 20:38] annafralberts commented on #152
I also need another co_financing_rate_eu field

[2016-10-13 09:25] cyberbikepunk commented on #152
This is related to #97

[2016-10-13 11:20] annafralberts commented on #78
Guys, found a webportal for 2007-2013: https://github.com/os-data/eu-structural-funds/issues/78
@ferblape could you give it a scraping go?

[2016-10-14 09:27] cyberbikepunk commented on #72
@annafralberts @michaeljokf @seegerseeger @ferblape  I have a few questions about the information Fernando has been finding for Malta... here's an [example project page](https://investinginyourfuture.gov.mt/project/life-long-learning-and-employment/employability-programme-33947744).

This footer is common to all projects:
![footereumessage-en](https://cloud.githubusercontent.com/assets/1629834/193

[2016-10-16 19:32] ferblape commented on #71
This is ready to review and merge

[2016-10-17 11:16] michaeljokf commented on #80
@cyberbikepunk @annafralberts @seegerseeger I downloaded the github from balkey, and there was definitely a lot of work done and there are CSV files! However, the structure of the data is not correct yet. We need to get the data into separate columns, so far it is only one column with all the information. Can someone help with this?

[2016-10-17 11:35] michaeljokf commented on #80
nevermind! Just an Excel fail ;)

[2016-10-18 09:40] michaeljokf commented on #28
@annafralberts it says in the overview that the ESF 2007-2013 data has already been scraped and is available in CSV? if that is true where is it? I cannot find it ;)
Did you mean the ERDF data? This has been sourced already.

[2016-10-18 12:59] seegerseeger commented on #66
This is ESF 2007-2013:
http://www.esf.ie/en/ImageLibrary/Repository/Files/List-of-beneficiaries-for-HCIOP.pdf

One of the worst datasets I've seen so far!

http://www.esf.ie/en/Programmes/
"The Human Capital Investment Operational Programme (HCI OP) was the only ESF programme for Ireland for the period 2007 to 2013 and the funding for the Programme for the period was €751m in total, with €375m of

[2016-10-18 13:31] seegerseeger commented on #66
Have contacted the ESF Policy and Operations Unit just now, waiting for response.

[2016-10-18 14:12] michaeljokf commented on #74
@annafralberts checked the file above, it is the ERDF and ESF data for 2007-2013, its visible from the "fundo" column.

[2016-10-18 14:57] michaeljokf commented on #55
@annafralberts  cannot access the Excel file you referenced here for ESF Brussels + Wallonie 2014-2020 could you check again? maybe you have an easier time finding it again

[2016-10-18 15:32] annafralberts commented on #28
Didn't I add it? I have it hear on my computer, cleaned and all, will add
it once I am done with the email (another 100 emails to go)

On 18 October 2016 at 11:40, michaeljokf notifications@github.com wrote:

##

Anna Alberts, Project Manager OpenBudgets.eu
Open Knowledge Foundation Germany
www.okfn.de | info@okfn.de | @okfde
anna.alberts@okfn.de info@okfn.de | @Anna_Alberts
Office: +49 30 5770366

[2016-10-19 08:32] michaeljokf commented on #55
http://www.fse.be/index.php?id=193 this is the new link for the ESF Brussel + Wallonie data 2014-2020

[2016-10-20 09:33] ruimgbarros commented on #74
@annafralberts Sorry, I've been in Bulgaria for work so it was impossible for me to do it. There the data for 2014-2020 in another totally diferente portal called [Portugal2020](https://www.portugal2020.pt/Portal2020/OperacoesAprovadas).

By saturday night I hope to have everything sourced. Again, sorry.

[2016-10-20 11:51] seegerseeger opened #191 "subsidystories.eu - landing page structure, content & design"
To start the ball rolling here is a first mockup of the landing page. For now, there are three views that display the data we have sourced, the other subpages (about, contact, etc.) will follow:

**1)  Landing page view (interactive thematic map with mouseover features)**
This view is meant to:
- enable an overview and quick insights on a national level
- present the data as the main feature of th

[2016-10-20 12:04] cyberbikepunk commented on #191
@seegerseeger this looks cool bela well done!

[2016-10-20 12:08] ruimgbarros commented on #191
@seegerseeger such a great work! Well done!

[2016-10-20 12:31] seegerseeger commented on #66
Response & dataset received via email, the dataset for ESF 2014-2020 has been added to the Ireland folder.

[2016-10-20 15:19] pwalsh commented on #191
@seegerseeger looks great. I doubt the data has enough info for regional level breakdown but let's see.

I think this is enough for a first iteration and we adjust from there.

I'll sync with the OKI team for further thoughts and then we'll plan the first iteration.

[2016-10-20 20:56] seegerseeger commented on #191
Yes I agree, the data quality also varies quite a bit from country to country. Great, keep me posted!

[2016-10-21 09:08] michaeljokf commented on #34
Watch out there are two different PDFs for ESF and ERDF 2007-2013 one for the field of "Konvergenz" and another for "RWB". Only a combination of both datasets will give us the full data.

[2016-10-21 11:06] cyberbikepunk commented on #34
@michaeljokf @seegerseeger This looks like two tables with a foreign key relation right? This can be specified in the source description files. please come talk to me about this.

[2016-10-21 12:23] #132 closed

[2016-10-21 12:24] #118 closed

[2016-10-24 09:46] DianaMPG commented on #191
@seegerseeger it looks great!!! Thank you so much.

Comments & questions:
1. Three-part structures is good, so the theme moves from general to specific.
2. The country list on the right-hand side is the second search option for countries?
   Is this list for screen readers?
   If not so, I'd rather prefer a drop-down with the available countries instead of a list.
   With the title: Select EU coun

[2016-10-25 14:59] #135 closed

[2016-10-25 16:20] annafralberts commented on #74
Woop! it is here:  https://www.portugal2020.pt/Portal2020/Media/Default/Docs/Operacoes%20Aprovadas/Lista%20de%20opera%C3%A7%C3%B5es%2031.08.2016_NCD.xlsx

@ruimgbarros already sourced all this?

[2016-10-25 16:21] ruimgbarros commented on #74
@annafralberts almost finishing :)

[2016-10-25 18:24] annafralberts commented on #74
Thanks :)

On 25 October 2016 at 18:21, Rui Barros notifications@github.com wrote:

##

Anna Alberts, Project Manager OpenBudgets.eu
Open Knowledge Foundation Germany
www.okfn.de | info@okfn.de | @okfde
anna.alberts@okfn.de info@okfn.de | @Anna_Alberts
Office: +49 30 57703666 0
Mobile: +49 176 21370998 <%2B49%20176%2032768530>

[2016-10-25 18:35] pwalsh commented on #191
@annafralberts @seegerseeger @akariv @DianaMPG https://github.com/openspending/spending-stories.eu/issues/1

[2016-10-27 10:26] gocemitevski commented on #191
@pwalsh here is a sample of the sliced landing page. The map and the full layout are responsive and adapts according to the screen size.

![screen shot 2016-10-27 at 12 22 27](https://cloud.githubusercontent.com/assets/359855/19763871/6a17da7a-9c40-11e6-88ce-8d0889f84f66.png)

[2016-10-27 10:36] DianaMPG commented on #191
@gocemitevski thank you, wow, that is fast!

[2016-10-27 14:51] seegerseeger commented on #191
Hey @gocemitevski well done! Let me know if I can help down the road. Could send you the .ai file as well if that is useful to you.

[2016-10-28 09:23] seegerseeger commented on #65
Update: the data at http://adat.atlatszo.hu/eu-kereso/ doesn't differentiate between funds, currently trying to obtain a version from http://eupalyazatiportal.hu/nyertes_palyazatok/ that does, however portal is _really_ slow (as in: taking DAYS to process a request for a 9MB .csv). Inquiry to the hungarian ESIF office has been made, currently waiting for reply.

[2016-10-31 08:38] gocemitevski commented on #191
Thanks @seegerseeger. No need for that at the moment.

[2016-10-31 08:41] gocemitevski commented on #191
The sliced mockups are now available here: https://github.com/openspending/subsidystories.eu. Feel free to clone this repository and test them, possibly on mobile devices as well, as the designs should be fully responsive.
- index.html - landing page template
- country.html - country page template [still incomplete]

[2016-10-31 09:53] gocemitevski commented on #191
Now, also available for preview at:
- http://labs.openspending.org/subsidystories.eu/index.html
- http://labs.openspending.org/subsidystories.eu/country.html

[2016-10-31 11:02] annafralberts commented on #76
Haha FRESH Data:
https://www.itms2014.sk/projekty-v-realizacii#_i=&_s=1&_o=true
https://www.itms2014.sk/projekty-ukoncene#_i=&_s=1&_o=true

[2016-10-31 11:03] #56 closed

[2016-10-31 11:54] #72 closed

[2016-10-31 11:54] #70 closed

[2016-10-31 11:55] #63 closed

[2016-10-31 11:55] #31 closed

[2016-10-31 13:04] #28 closed

[2016-10-31 13:07] #26 closed

[2016-10-31 13:59] #66 closed

[2016-10-31 13:59] #35 closed

[2016-10-31 16:00] #34 closed

[2016-10-31 16:00] #53 closed

[2016-10-31 16:19] #73 closed

[2016-11-01 08:51] gocemitevski commented on #191
@seegerseeger can you please provide more info about the Blog section of the app. What's the idea with that and do we need a separate CMS (such as WordPress) just for the blog?

cc @pwalsh

[2016-11-01 08:53] pwalsh commented on #191
@seegerseeger @annafralberts do we really need a distinct blog? Can we use the OpenSpending blog with a subsidy stories tag?

[2016-11-01 15:03] seegerseeger commented on #191
@gocemitevski @pwalsh The main idea here was that we need some type of showroom for stories that are based on the subsidy data provided by the site, as well as a place for announcements. I don't think a complex CMS such as wordpress is necessary, I thought of a simple github/markdown-based system such as that on [the blog of openbudgets.eu](openbudgets.eu/blog/). Would this be difficult to impleme

[2016-11-01 15:07] pwalsh commented on #191
@seegerseeger @annafralberts I'd honestly rather do it the other way around: publish on openspending blog, and then pull in the ones tagged subsidy stories to here for display too.

So, yes, we can have a display just like above, but it would be data populated from a category or tag feed from the OpenSpending blog.

Agreed, or....?

[2016-11-01 15:08] seegerseeger commented on #191
Perhaps the stories could be done similarly to how opendbugets.eu handles resources:
- if a new post is created, it can be tagged as 'resource' or 'post'
- both classes appear under 'blog', but there is a menu section called 'resources' that only displays items tagged as 'resources'

[2016-11-01 15:19] pwalsh commented on #191
@seegerseeger it does not solve the problem I want to avoid of having multiple points for authoring posts. In any event, what I am suggesting will still ensure that the data is accessible from this website, it just means it will be authored elsewhere (on the openspending blog which has many more followers).

[2016-11-01 16:21] seegerseeger commented on #191
@pwalsh Fair enough, my only question would be what the authoring system concretely would look like in that case. Would we (as in OKF Germany) get admin rights to the OS blog? It would be great if that were the case to ensure snappy reaction times in publishing, updating, and fixing content.

[2016-11-01 16:22] pwalsh commented on #191
@seegerseeger yes, of course you would

[2016-11-01 16:27] seegerseeger commented on #191
@pwalsh Very well then! Last issue I would see is that there may be posts we would like to publish on subsidystories.eu (small announcements etc.) that are irrelevant to the OS blog audience, but if you don't mind that happening I guess I'm out of arguments ;)

[2016-11-01 16:27] pwalsh commented on #191
can you give an example of something on this website that would be irrelevant to the openspending audience?

[2016-11-01 16:30] seegerseeger commented on #191
I'm thinking of items similar to those found here:
http://farmsubsidy.openspending.org/news/

[2016-11-01 16:35] seegerseeger commented on #191
well, I guess we could stick with the OS --> Ss solution in terms of blogposts, and if there should be a significant amount of items irrelevant to the OS audience consider a 'news' category on Ss

[2016-11-01 16:37] pwalsh commented on #191
Those examples from farm subsidy are perfect for the OS blog. it is a shame that they were done separately back then :)

[2016-11-02 10:32] cyberbikepunk opened #280 "Open-Spending data quality assurance"
@akariv @pwalsh @annafralberts @michaeljokf @ffalt @seegerseeger

# Overview

Now that (most of) the data is sourced, it has to be transformed. Although the data is already available on OS, the data quality is still low. For example, fields that have been sourced but haven't been parsed properly end up as empty. Although we can assess what transformation steps are missing by looking at each datase

[2016-11-02 10:56] cyberbikepunk opened #281 "Data sourcing statistics"
@annafralberts @akariv @pwalsh @seegerseeger @michaeljokf @ffalt

In order do a quality check on the sourced data and improve the data modeling, I suggest gathering statistical information. More specifically:

- [x] The number of times each fiscal field has been used as a mapping
- [x] A list of all the columns in the sourced data that did not find a mapping
- [x] The number of fields found in eac

[2016-11-02 13:23] cyberbikepunk opened #282 "MVP umbrella issue"
@annafralberts @akariv @michaeljokf @ffalt @pwalsh

This issue is an umbrella issue fo the [MVP milestone](https://github.com/os-data/eu-structural-funds/milestone/3) and includes:

- [x] #283 Ensure that all pipelines succeed
- [x] #284 Concatenate all pipelines
- [x] #290 Parse amount and date columns
- [ ] #285 Assessment / improvement of current fiscal model
- [ ] #280 Data quality assurance

[2016-11-02 14:14] cyberbikepunk opened #283 "Ensure that all pipelines succeed"
@akariv @annafralberts

About 100 pipelines have been bootstrapped. The goal so far has been data ingestion so I haven't really focused on fixing bugs that occurred after the source data was packaged up (the output of the first `dump` processor). Most pipelines succeed without any problems on my computer. A number of them fail on the server. To make it short, I need to ensure that *all* the pipeli

[2016-11-02 14:29] cyberbikepunk opened #284 "Concatenate all pipelines"
@akariv @annafralberts @michaeljokf

This should be quite trivial technically speaking, but creating an issue so that we're all on the same page.

[2016-11-02 14:32] cyberbikepunk commented on #282
Aside writing processors to clean the data, we need to double-check whether all the mappings suggestions in the source files are correct. So I assign @michaeljokf and @annafralberts too on this one.

[2016-11-02 14:34] cyberbikepunk opened #285 "Assessment / improvement of the current fiscal model"
@annafralberts @akariv @michaeljokf

As discussed in the meeting, we need to assess how well (or badly) the fiscal model has served us so far. There are two steps in this process:

- [x] Prepare some statistics on the sourcing and in particular the mapping
- [x] Make improvements
- [x] Update the source description data
- [x] Update the fiscal schema

[2016-11-02 14:39] cyberbikepunk commented on #125
@annafralberts @ffalt I've co-assigned you to this task, as discussed during the meeting. So basically there are 2 steps:
- [ ] documenting oneself on EU policy to make sure that all the possible codelists are identified
- [ ] scraping what we have decided is useful off the EU website

[2016-11-03 12:58] seegerseeger commented on #191
_I've had a chat with Goce in the meantime via email, here it is for full disclosure ;):_

Hi Goce, thanks for the great/fast work so far!

Some comments:

1) In retrospect, I feel the elements on the mockup were quite big, which translated into your prototype. Looking at your prototype, I think it could improve the design in terms of overview and accessibility if the elements (mainly the map) wer

[2016-11-03 13:22] pwalsh commented on #191
@seegerseeger this implementation is not for design. we'll do a design iteration next (in coming week or so), and that would include these type of things.

[2016-11-07 10:24] cyberbikepunk commented on #285
Here's a brain dump of the stats I'm thinking about collecting:
- [x] Usage count for each fiscal field
- [x] How many fields are present in each dataset?
- [x] What fields did not find a mapping?

[2016-11-07 10:41] michaeljokf commented on #285
yes agree on all of those! Although I do not understand how usage count for each fiscal field differs from what you already did? Or do you mean within each dataset? Then the data would need to be in percent - like within a data set how much of that field is filled?

What fields did not find a mapping would be great! Could you sum the translations of those? So that we know what kind of fields we ar

[2016-11-07 10:43] cyberbikepunk commented on #285
@michaeljokf

Yes that's what I already did.

[2016-11-07 10:43] cyberbikepunk commented on #285
@michaeljokf

This is what I'm actually currently doing... Done.

[2016-11-07 14:18] cyberbikepunk commented on #281
@akariv @michaeljokf You can find the above three question answered [here](https://github.com/os-data/eu-structural-funds/blob/master/mappings.ipynb). From the call we just had today, Michael is taking over this task. I'm about to provide him with a flat database of all sources that he can import in excel and work on. So I'm closing this issue.

[2016-11-07 14:18] #281 closed

[2016-11-07 14:22] cyberbikepunk commented on #285
@michaeljokf I'm about to hand over the entire source database to you. I'm sure you can answer all the questions that you have in Excel, but don't hesitate to ask me if there's any question that is a pain in the **\* to deal with. There's a good chance that I can address it more easily with Python.

[2016-11-07 15:41] cyberbikepunk commented on #285
@akariv @michaeljokf @annafralberts @ffalt

I have dumped all source files as a flat table [here](https://github.com/os-data/eu-structural-funds/blob/master/source.db.xlsx). Why? Well, we had a discussion with Anna and Michael about how to assess and improve mapping the raw fields to their fiscal counterparts. I started producing stats inside a Jupyter Notebook but it became clear that Michael was

[2016-11-07 17:15] cyberbikepunk opened #290 "Parse amount and date columns"
This task is about parsing `amount` and `date` columns in all raw data files. We have more than 100 datasets and sometimes the formatting is not even consistent within a single file or even a single column. So this is not as trivial as it sounds.

What I'm thinking of doing is writing two "generic" parsers and assigning them by default to all pipelines. Then write more parsers to deal with the dat

[2016-11-07 17:22] akariv commented on #285
@cyberbikepunk

I can't see how working with this aggregated file is going to be easier (from a machine or human point of view). Not to mention that if we would like to start working with it as the definitive source, we would need to invest time we don't have in adapting the tools we already use.

Having this aggregated file might be useful for QA, but I guess that that's about it. Finding problem

[2016-11-07 17:28] cyberbikepunk commented on #285
@akariv

I agree on that 100%.

I don't agree with that. On the contrary, I think it can save a lot of time. Let's touch base tomorrow.

[2016-11-07 17:29] michaeljokf commented on #285
@akariv @cyberbikepunk @annafralberts

so from my point of view, which is obviously not a programmer's:
It makes this everything a lot easier. I can directly see and compare every mapping I ever did across
countries and regions etc. and can change all of them with one click (by using a search and replace function for example). Furthermore, it is one click in comparison to several if I open separat

[2016-11-07 17:31] akariv commented on #281
@cyberbikepunk it looks like there is not one dataset which has the complete minimum set  of fields?

[2016-11-07 18:02] akariv commented on #285
As I said it's probably useful for QA - but that's it.

Trying to find the URL of a single dataset from this file is a nightmare.
Parsing this file to get the different list of sources is not going to be an easy task, especially after it is manually edited by multiple people.

[2016-11-08 09:46] cyberbikepunk commented on #285
@akariv @michaeljokf Okay so after a bit of back and forth and syncing up, it was decided that Michael has "permission" to modify the `maps_to` and  `translates_to` fields and add one field property called `certified` (boolean) to assert that this field has been QA checked and will not need going back in the future. A field that has an empty `maps_to` property and `certified=True` is a field that

[2016-11-08 09:54] cyberbikepunk commented on #284
@akariv Quick question, how do we ensure that the concatenating pipeline is the last one to run?

[2016-11-08 10:02] michaeljokf commented on #285
thanks so much for working that out guys! Will make my life a lot easier!

2016-11-08 10:46 GMT+01:00 **loic** notifications@github.com:

##

Michael Peters
Data Scientist
Open Knowledge Foundation Deutschland
Tel: +49 30 577036662

[2016-11-09 09:37] michaeljokf commented on #285
from Loic, after noticing that some data was scrambled in the first `source.db.xlsx` file:

[2016-11-11 09:02] cyberbikepunk commented on #284
Solved with [PR 29](https://github.com/os-data/eu-structural-funds/pull/291)

[2016-11-11 09:02] #284 closed

[2016-11-14 15:42] cyberbikepunk opened #292 "Brussels: sourcing improvements needed"
@michaeljokf There is more information in this table than just what is in the columns. It's organized by "paragraph" and each paragraph is a priority (i think) and also there's information in the sums (2.1, 2.2 codes). Can you restructure the data?

[2016-11-15 09:56] #85 closed

[2016-11-15 09:56] #112 closed

[2016-11-15 09:56] #71 closed

[2016-11-15 09:57] #64 closed

[2016-11-15 10:05] michaeljokf commented on #292
Hey Loic, I will look at it!
I should be able to restructure it if I do it manually in Excel. Worst case
I will ask ffalt.

Thanks for the heads up. There are a couple of data sets, that I have
discovered that still need
some cleaning. I will tackle that as soon as the mapping is done!

Best,
Michael

On 14 November 2016 at 16:42, **loic** notifications@github.com wrote:

##

Michael Peters
Data S

[2016-11-15 13:30] cyberbikepunk opened #293 "Inject mapping improvements back into the pipelines"
@michaeljokf @akariv @annafralberts

## Breakdown

- [x] Introduce the new fields in `fiscal.schema.yaml`
- [x] Fix the code / labels problems: remove unused labels in the schema
- [x] #342 Modify the pipelines to use the `fiscal.model` processor
- [ ] Write a Notebook to inject `source.db.xlsx` fields back into `source.description.yaml` files.
- [x] Add support for splitting and merging fields #3

[2016-11-16 09:57] cyberbikepunk commented on #290
@akariv Following our discussion, here's the road-map for this issue. Please raise a flag where necessary

## Road-map
- Write 2 generic parsers, one for dates, one for amounts, to be applied to all date and amount fields
- Use the [low level schema types](https://github.com/frictionlessdata/jsontableschema-py/blob/master/jsontableschema/types/number.py#L20) functionality
- Add a little command li

[2016-11-16 11:44] cyberbikepunk opened #295 "Add a GoodTables processor for csv files"
@akariv @roll

Brain-dump: I was thinking of adding a goodtables processor for CSV files before ingestion in the pipeline. Some files are malformed, I've noticed that. So far the ingestion processor just skips bad rows. Maybe we could repair these files by hand.

[2016-11-16 12:15] cyberbikepunk opened #296 "Debt: write unit tests for the `ingest_local_file` module"
@akariv This requires a few hours works.

[2016-11-16 13:21] cyberbikepunk opened #297 "Keep up with changes in OS-types"
@adam has made [changes to fiscal types](https://github.com/openspending/os-types/commit/4e83e5a7b62a69b5efce77fcab1426b8969f46a7). The fiscal model needs to be updated.

[2016-11-16 14:16] akariv commented on #297
Sorry about that...

[2016-11-16 15:22] michaeljokf commented on #295
@cyberbikepunk will start to try and clean some of the CSVs that are malformed. Noticed them while re-checking the mapping.

So far my list includes (all csv):
Thüringen ERDF 2014-2020     -   Thüringen works fine but has a semicolon ; as a separator
Sachsen ERDF 2014-2020        -    just bad initial view in libre office - comma as separator
Finland 2007-2013 & 2014-2020
Netherlands

[2016-11-16 15:27] michaeljokf commented on #293
@cyberbikepunk I have finished the mapping. Will double check the file again tomorrow morning (unless you want it asap). I also noted the fields of the fiscal_schema that are actually used in the data [here](https://docs.google.com/spreadsheets/d/1-y7Jy_0Hpj9Pxa8biw7U3tyNbSAFUFv130h3kS0H11k/edit#gid=0) the rows colored in yellow are the ones I added!

Let me know what you want me to do regarding t

[2016-11-23 15:07] cyberbikepunk opened #302 "Re-organise the `common` package"
@akariv

### Current modules

This issue is not urgent. It's about improving the overall coherence of the `common` package. As for now, there are 4 modules:

1. `bootstrap` is home to the `Source` class and `click` command line functions that are not just about bootstrapping
2. `utilities` is a mixture of functions concerned with fetching specs, together with the `process` function and other helpe

[2016-11-27 10:41] #297 closed

[2016-11-28 13:11] cyberbikepunk commented on #302
# Brain dump

The above comments are not very clear and perhaps too specific. Here's how I would rephrase it...

## Move code

Which functionality do we want to move up to `datapackage-pipelines`?

### CLI tools

A large part of the `Source` class and most of the CLI could potentially be moved. I've been using them on a regular basis. I would qualify them as very useful. We'd have to

- separate w

[2016-11-28 15:53] akariv commented on #302
(The functionality within `Source` was already assimilated in the `datapackage-pipeline` framework)

[2016-11-29 15:32] cyberbikepunk commented on #290
Solved here #303

[2016-11-29 15:32] #290 closed

[2016-11-30 12:59] cyberbikepunk commented on #285
@michaeljokf is done with this. Now changes need to be re-injected into the pipelines. See #293

[2016-11-30 12:59] #285 closed

[2016-11-30 13:01] cyberbikepunk commented on #283
@akariv fixing pipeline is a never ending endeavour: I'm closing this as it was specifically related to bootstrapping and ingesting files.

[2016-11-30 13:01] #283 closed

[2016-11-30 13:13] cyberbikepunk commented on #152
This duplicates #285. Closing.

[2016-11-30 13:14] cyberbikepunk commented on #292
@michaeljokf what's the status on this?

[2016-11-30 13:17] cyberbikepunk commented on #88
@michaeljokf can you please complete [this file](https://github.com/os-data/eu-structural-funds/blob/master/codelists/fund_acronym.yaml). I think there's only the ERDF fund missing but I want to be sure. This will take you literally 2 seconds.

[2016-11-30 13:20] cyberbikepunk commented on #282
Closing this as this is redundant with the [milestone](https://github.com/os-data/eu-structural-funds/milestone/3).

[2016-11-30 13:20] #282 closed

[2016-11-30 13:38] cyberbikepunk opened #307 "Ensure that fund_name is declared in all source files"
@michaeljokf I'll leave it to you to include `fund_name` either at the top level or the resource level in all `source.description' files. Also make sure that you solve the #88 mini-issue.

[2016-11-30 13:39] cyberbikepunk opened #308 "Ensure that funding_period is declared in all source files."
@michaeljokf I'll leave it to you to include `fund_period` either at the top level or the resource level in all `source.description' files.

[2016-11-30 13:43] cyberbikepunk opened #309 "Add a processor to add constants to the data"
@akariv This is not rocket science. There are two parts to this:

- [x] CCI codes: The processor should look for a key in the top level of the source file and override it if it finds the key defined at the resource level.
- [x] Geocodes: information is implicit in the pipeline

[2016-11-30 13:50] cyberbikepunk opened #310 "Add CCI_program_code information to sources files where possible"
@michaeljokf is inserting CCI information by hand for now, wherever possible. See the [wiki page](https://github.com/os-data/eu-structural-funds/wiki/6.-Mapping-raw-data-to-fiscal-schema) to see how CCI codes are constructed.

@michaeljokf, could you please comment on any issue that you encounter during the process on this thread please? thx

[2016-11-30 14:04] cyberbikepunk opened #311 "Add missing parsing formats to `sniff_and_cast` processor`"
@akariv I need to look at the log wherever a `CasterNotFound` error is found and add the unknown format to the `config` file.

[2016-11-30 14:18] cyberbikepunk opened #312 "NumberSniffer fails on perfectly valid formats"
@akariv This is what I see from quickly looking at the logs.

[2016-11-30 14:41] cyberbikepunk opened #313 "CSV ingestor ingests headers as row 1"
@akariv This can be fixed by swapping the old processor for the new one ('ingest_local_file`).

[2016-11-30 14:44] cyberbikepunk opened #314 "`sniff_and_cast` processor data sampler includes empty values"
@akariv As a consequence the fail rate shoots up.

[2016-11-30 14:59] cyberbikepunk opened #315 "Detect and remove number and date outliers"
@akariv @roll

I think that it would make sense to do a mimimum amount of automatic QA for the MVP. Either I add a new processor, or I add the functionality to `sniff_and_cast` processor. I would be in favour of the former solution and add it to `datapackage-pipelines.lib` and make it reusable for everyone. I would implement it with `jsontableschema`.

[2016-11-30 15:07] cyberbikepunk opened #316 "Update the dataset collector specs"
This is a mini-issue. See [requirements](https://github.com/os-data/eu-structural-funds/wiki/7.-Minimum-viable-product).

[2016-12-01 08:11] cyberbikepunk opened #318 "Fix bootstrap module tests failing on Travis"
@akariv to be honest I don't really know how to debug this one. The tests pass locally and i can't reproduce them. Wouldn't mind some of your wisdom.

[2016-12-01 08:21] cyberbikepunk opened #319 "Move excel date conversion to Stream post parse function"
@akariv

I would like to move the `convert_excel_dates` processor logic into a simple `post_parsing` function in the `ingest_local_file` processor. It would make more sense.

[2016-12-01 10:39] cyberbikepunk commented on #312
fixed. 45min

[2016-12-01 10:39] #312 closed

[2016-12-01 13:10] cyberbikepunk commented on #314
90min so far.

[2016-12-01 13:24] cyberbikepunk opened #320 "`sniff_and_cast` fails on "€ 1090141.18" format"
@akariv This is a bug in the processor because `NumberType().cast_currency("€ 1090141.18")` works fine.

[2016-12-01 14:46] cyberbikepunk opened #321 "Replace chardet with cchardet"

[2016-12-01 16:24] michaeljokf opened #322 "Add customs processors for CCI codes"
### Overview

Some files have both the ERDF and the ESF data in one file, in which case we have agreed to the following mapping structure:

   fund_acronym:
     - R: [ERDF]
     - S: [ESF]
   funding_period: 2014-2020
   cci_code:
   currency_code: EUR

So far we only mapped cci codes that are uniquely identified by the dataset. However, this is not the case for all datasets (e.g. Denmark 2007-20

[2016-12-01 18:49] #320 closed

[2016-12-01 21:21] cyberbikepunk opened #326 "Add work-around for capitalized missing values"
@akariv Add a post parser processor to ingestor.

[2016-12-02 07:38] cyberbikepunk commented on #322
@michaeljokf please define the logic like: if fund = X then CCI code = Y and I will add a processor that fills up the CCI code column. If you find other datasets, add them in this conversion.

[2016-12-02 08:54] #316 closed

[2016-12-02 08:55] #321 closed

[2016-12-02 08:55] #326 closed

[2016-12-02 08:58] #314 closed

[2016-12-02 11:15] cyberbikepunk opened #328 "Slovakia 2014-2020 JSON file is malformed"
@michaeljokf I need a little help on this. There are several variations for each field name, which screws up the file ingestion. It looks like the beginning of the name are common though. We need to identify that unique common substring so I can use it to identify fields properly. The _union_ of all the field names I find in the data is:

[code]

[2016-12-02 11:17] #23 closed

[2016-12-02 11:17] #25 closed

[2016-12-04 09:33] cyberbikepunk opened #329 "Sweden 2007-2013 `member_state_amount` contains 3 pieces of information"
@michaeljokf Check this out. Sometimes, there's one, sometimes, two, sometimes three amounts in the same column. Can you find out what they are so I can split them correctly?

[code]

[2016-12-04 09:56] cyberbikepunk opened #330 "Netherlands CSV has unknown encoding"
@akariv

[code]

I've tried guessing by hand with LibreOffice Calc, without luck so far.

[2016-12-04 11:16] #330 closed

[2016-12-04 12:18] cyberbikepunk opened #331 "Add a second round of guessing in `sniff_and_cast`"
@akariv After a caster has been found, there are often still some rogue cells. We could possibly do another round of `try` and `except` over them.

[2016-12-04 18:59] cyberbikepunk opened #333 "Add support for field splitting in `map_fields` processor"
@akariv Raw fields strings may contain several pieces of information. If this is the case, then `maps_to` must be a list.

[2016-12-05 09:11] michaeljokf commented on #328
@cyberbikepunk okay I will have a look at it to day and see if I can fix it!

[2016-12-05 10:13] michaeljokf commented on #329
@cyberbikepunk okay so what we are talking about is the offentlig_finansiär column - which means public spending. The column does not just include an amount (which is what we usually have), but also the source of the amount. So "university xy paid 15000" and additionally "County xy paid 20000" ...
This is quite a pain and there is no hierarchy so that it does not make sense to group these amounts.

[2016-12-05 10:21] cyberbikepunk commented on #329
@michaeljokf i didnt know your swedish was so impeccable. so that's the amount that various country institutions chip in to add to the EU-funding, right? I will starting grouping such hidden data extraction tasks under a specific label.

[2016-12-05 10:26] michaeljokf commented on #329
yes exactly: member_state_amount it is! yeah do that - I am sure there are still a bunch of these "hiccups" ...

[2016-12-05 10:41] cyberbikepunk commented on #329
@michaeljokf sorry i feel like an old man repeating myself. It's written in the title by... me.

[2016-12-05 10:51] michaeljokf commented on #329
@cyberbikepunk ok? yeah didnt see the title before - not really sure what you are getting at though...?

[2016-12-05 11:06] michaeljokf commented on #328
@cyberbikepunk okay have looked at this for a while now and dont really know how to proceed. It is a file that ffalt scraped from here: https://www.itms2014.sk/projekty-v-realizacii#_i=&_s=1&_o=true

What happens is that the info is very often repeated (with other prefixes for the column name). I know this is the obvious part. I already noticed it when sourcing this file - I thought I had all the

[2016-12-05 11:22] #27 closed

[2016-12-05 11:22] #29 closed

[2016-12-05 11:22] #30 closed

[2016-12-05 11:22] #32 closed

[2016-12-05 11:22] #33 closed

[2016-12-05 11:22] #36 closed

[2016-12-05 11:22] #37 closed

[2016-12-05 11:22] #38 closed

[2016-12-05 11:22] #39 closed

[2016-12-05 11:22] #40 closed

[2016-12-05 11:22] #41 closed

[2016-12-05 11:22] #42 closed

[2016-12-05 11:22] #43 closed

[2016-12-05 11:22] #44 closed

[2016-12-05 11:22] #46 closed

[2016-12-05 11:23] #47 closed

[2016-12-05 11:23] #48 closed

[2016-12-05 11:23] #49 closed

[2016-12-05 11:23] #50 closed

[2016-12-05 11:23] #51 closed

[2016-12-05 11:23] #52 closed

[2016-12-05 11:23] #54 closed

[2016-12-05 11:23] #55 closed

[2016-12-05 11:23] #57 closed

[2016-12-05 11:23] #58 closed

[2016-12-05 11:23] #59 closed

[2016-12-05 11:23] #60 closed

[2016-12-05 11:23] #61 closed

[2016-12-05 11:23] #65 closed

[2016-12-05 11:23] #67 closed

[2016-12-05 11:23] #69 closed

[2016-12-05 11:23] #74 closed

[2016-12-05 11:23] #77 closed

[2016-12-05 11:23] #80 closed

[2016-12-05 11:26] #76 closed

[2016-12-05 11:26] #79 closed

[2016-12-05 11:29] #149 closed

[2016-12-05 11:29] #45 closed

[2016-12-05 11:33] michaeljokf commented on #62
the CSV files have bad patterns in them where information slides to the next column although it should not. This is the case for both Finland 2007-2013 and 2014-2020. I have already been working on this in openrefine, but it is quite a lot of work and something that I have been doing whenever I have a free minute. @cyberbikepunk feel free too look at the files as well - if you think there might be

[2016-12-05 12:02] cyberbikepunk commented on #62
@michaeljokf I will implement data validation with the new [GoodTables online service](https://github.com/frictionlessdata/goodtables.io). See #295. We will be able to tell what is wrong with our data files more easily and decide how to deal with the problems. This should not take long (a few hours of work). So let's leave _really_ bad files on the back-burner for now.

[2016-12-05 14:20] michaeljokf commented on #62
@cyberbikepunk sounds good!

[2016-12-07 13:25] michaeljokf commented on #310
@cyberbikepunk @annafralberts
Finished the updating of the source files in the updating_resources branch. Here comes an overview on where I could not the CCI codes and a reason why:

CCI Codes further distinguished by funds
- revisit cci code denmark 2007-2013 and 2014-2020
- Malta cci based on fund but multiple funds in dataset
- Slovenia cci codes depend on funds (multiple funds in dataset)
- It

[2016-12-08 11:58] michaeljokf commented on #322
@cyberbikepunk
CCI Codes further distinguished by funds

- Italy 2014-2020
 if fund_acronmy:
      - FSE: ESF then cci_code = 2014IT05SFOP009
 if fund_acronym:
      - FESR: ERDF  then cci_code = 2014IT16RFOP004

- Denmark 2007-2013
  if fund_acronym:
      - ERDFB: [ERDF]
      - ERDFD: [ERDF]
      - ERDFH: [ERDF]
      - ERDFK: [ERDF]
      - ERDFM: [ERDF]
      - ERDFN: [ERDF]
      - ERDFS: [

[2016-12-09 17:23] #307 closed

[2016-12-09 17:23] #308 closed

[2016-12-09 17:23] #310 closed

[2016-12-09 17:29] #311 closed

[2016-12-09 17:29] #313 closed

[2016-12-13 09:27] #318 closed

[2016-12-13 10:42] #309 closed

[2016-12-13 11:47] cyberbikepunk opened #340 "Add a processor to add codelist labels"
@akariv with the constants and category processors, i have the code, now i just need to fetch the labels inside the `codelist` folder.

[2016-12-13 12:33] annafralberts opened #341 "New Ingestion for following files"
First Priority
- Slovakia - all funds - 2014 -2020
- Bulgaria - all funds - do double check the error message - might be a date-issue
- Hungary - All three files for hungary seem to have the same issues, priority for 2007 -2013 and 2014- 2020
- Estonia - all funds - double check scraper
Second:
- Sweden - Currency and Amount columns fail
- Finland - Seems to be a problem in the description @michae

[2016-12-13 12:36] annafralberts commented on #329
@ffalt here the previous issue on the new ingestions for Sweden

[2016-12-13 12:36] annafralberts commented on #328
@ffalt

[2016-12-13 12:38] annafralberts commented on #292
lower priority

[2016-12-13 13:51] ffalt commented on #328
so now every json item is reduced to fields every item has.
List of fields:
[code]

[2016-12-13 13:52] michaeljokf commented on #328
I will update the mapping asap!

[2016-12-13 14:21] cyberbikepunk commented on #340
If the there's no label, the code will be doubled as the label.

[2016-12-13 14:51] ffalt commented on #329
the field "offentlig_finansiär" seems to be the detail info for the aggregated `beviljat_belopp_-_sek` field. if you add all detail values it's often the sum, but not always. other times `beviljat_belopp_-__eur` is used instead, while `offentlig_finansiär` seems to be always in swedish krona. anyhow, I aggregated the split values into one sum.

[2016-12-13 15:10] cyberbikepunk opened #342 "Create the model from the schema on the fly"
@akariv Use the `fiscal.model` processor.

[2016-12-13 15:27] michaeljokf commented on #292
@cyberbikepunk @annafralberts this should be taken care of with my latest commit
I added a new source file and also a csv (standard format: UTF 8, Kommas). Going to close this issue.

[2016-12-13 15:29] #292 closed

[2016-12-13 16:03] annafralberts commented on #322
Lower priority for the MVP. Now we need first to have the geography, amounts, and Funds drill down fixed.

[2016-12-13 16:17] michaeljokf commented on #328
@cyberbikepunk @ffalt @annafralberts
mapping is done - file was updated already by ffalt.
going to close the issue.

[2016-12-13 16:19] #328 closed

[2016-12-13 16:19] annafralberts commented on #341
Slovakia DONE

[2016-12-13 16:21] #68 closed

[2016-12-13 16:21] annafralberts commented on #341
Estonia seems to be a processor error @cyberbikepunk

[2016-12-15 13:12] cyberbikepunk opened #343 "Bulgaria source needs a tweak"
@michaeljokf @ffalt

There's a mismatch in source and data fields.

[2016-12-15 13:30] annafralberts commented on #343
Please update issue #341 and double check the there identified datasets, if those are indeed failures in sources. You don't have to make a separate issue for every source-file that needs adjustment

[2016-12-15 14:01] cyberbikepunk commented on #341
@michaeljokf @ffalt The following source files have data/source field mismatches:

- [ ] BG
- [ ] HU 2014-2020
- [ ] SK 2014-2020

[2016-12-15 14:27] annafralberts commented on #341
Just these two?

[2016-12-15 14:30] cyberbikepunk commented on #341
@annafralberts i'm still going through them

[2016-12-15 14:35] ffalt commented on #341
BG is not a xls file, it's a html with an xls ending. I'll take a look

[2016-12-15 14:57] ffalt commented on #341
BG: the converted csv file was weird, I reconverted it & updated both files. source mapping still needs checking.

[2016-12-15 15:04] michaeljokf commented on #341
will revisit the Hungary and BG source files once the mapping fields are reinjected.

[2016-12-15 15:10] cyberbikepunk commented on #341
@annafralberts @michaeljokf the estonia problem should go away with the introduction of the new mapping

[2016-12-15 15:26] cyberbikepunk commented on #341
sweden's date format has been added and should run to the end

[2016-12-15 16:02] cyberbikepunk commented on #341
@annafralberts @michaeljokf @ffalt  FINLAND 2014-2020 has a bad structure (a mixed bag of quoted and unquoted fields)

- [ ] FI 2014-2020 fix the data file

[2016-12-16 11:40] #343 closed

[2016-12-20 11:13] michaeljokf commented on #329
ok this is take care of now - going to close the issue!

[2016-12-20 11:13] #329 closed

[2016-12-21 10:11] ffalt commented on #341
michael fixed the FI 2014-20 file

[2016-12-21 11:10] michaeljokf commented on #341
well we only fixed parts of it - I have been putting it off, because the file is still pretty messed up. I would say we should just ignore Finland for now and once we have taken care of more issues look at it together. @ffalt if you have time and willpower you can check it out again.

[2016-12-21 11:42] annafralberts opened #352 "Add Hierarchies to OS viewer"
Make Sure dimensions and hierarchies are correctly modelled for the open spending viewer:

Drill down for: Beneficiary, Activity.
Drill down for: geographic regions, cities etc.
Filter for: Funds, Priorities (if possible)
Drill down for: Dates: Funding Period, Year, Exact date.

[2016-12-21 13:15] ffalt commented on #341
I did. Fixed a lot of invalid rows

[2016-12-22 11:19] annafralberts opened #353 "Notes for documentation"
We have to provide documentation of the datasets, partially already done by michael while modelling, but we need to write down the different decision we make with regards to the date. So here is as good a place as any. Comments here, I will gather them and do a nice write-up after.

[2016-12-22 13:25] michaeljokf opened #354 "Multiple rows in CSVs (scraped by Michael)"
Some of the PDFs I converted to CSVs, by using Tabula and then Open Refine, lead to some rows being multiplied. E.g. a project ist listed multiple times with exactly(!) the same information. This should not trouble the pipelines, but leads to faulty data.

Examples where I found this pattern so far:
- ERDF Saarland 2007-2013
- ERDF Hessen 2007-2013

It might be prevalent in more files - I will hav

[2016-12-22 14:17] pwalsh commented on #354
@michaeljokf @akariv goodtables has a setting to detect duplicate rows. Well, the original version does. @roll can confirm if it is in the newest version.

[2016-12-22 14:52] roll commented on #354
New version also supports this.

[2016-12-22 16:21] michaeljokf commented on #354
well that is great! Thanks :)
Does it also delete them / filter them out?

[2016-12-22 16:36] pwalsh commented on #354
@michaeljokf no, but it tells you exactly where they occur.

[2016-12-22 17:08] michaeljokf commented on #354
@pwalsh thank you! Yeah I think @ffalt is going to tackle this eventually.

[2016-12-23 07:08] annafralberts commented on #352
Adjusted Schema:

test 1: http://next.openspending.org/viewer/4b6d969e07ef7a86aa54e539fc127a14:testmodel1
 next.openspending.org
OS Viewer | OpenSpending | Open Knowledge International
A frontend data/views app powered directly from a Fiscal Data Package.
where I have used the packager to model it according to my understanding of the schema

and test2: http://next.openspending.org/viewer/4b6d969e0

[2017-01-03 15:36] ffalt commented on #354
I filtered out the exact duplicates (lines and headers) and documented the removals into a .duplicate.csv e.g. [Saarland-ERDF-Data-2007-2013-1.duplicates.csv](https://github.com/os-data/eu-structural-funds/blob/master/data/DE.germany/DEC.saarland/ERDF%202007-2013/Saarland-ERDF-Data-2007-2013-1.duplicates.csv) and [Hessen-ERDF-2007_2013.duplicates.csv](https://github.com/os-data/eu-structural-funds

[2017-01-04 13:48] michaeljokf commented on #354
@ffalt okay so I looked at the original files as discussed and made a list of which ones I found to be intentional duplicates, and which did not have any duplicates (and are due to scraping). Lets discuss how to tackle this exactly tomorrow. [List](https://docs.google.com/spreadsheets/d/1KYm2TVSpORTPmZ0d-jHUJcnZWF8MlbO9vijN-kO1tIg/edit#gid=0)

[2017-02-03 13:46] michaeljokf opened #357 "Amounts incorrectly transposed"
we found out why there are some amounts that are so ridiculously high (e.g. Italy, Czech Republic, Germany...). We think it is still due to problems with files that have different delimiters. If this is the case then it should hopefully be fixable and give us the desired "reasonable" amounts.

More specific:
e.g. Italy 2007-2013 the case of "Logimat 2" (project name) the total amount in the origin

[2017-02-03 14:07] annafralberts commented on #357
Additional Comment: I checked all countries, the weird amounts are everywhere: it's raining billions or millions :)

[2017-02-03 15:24] michaeljokf opened #358 "enable selection of periods on website"
The website was designed so that the data can be selected by funding period. Almost every dataset enables distinction between either the 2007-2013 or 2014-2020 data. However, this is not included in the website yet (but it is in the design and the specs). Right now the 2014-2020 data is the one that shows up in the tree map etc (which is fine) - the overview on the right side (highlighted in the s

[2017-02-03 15:29] michaeljokf opened #359 "cleaning up the OS testing account"
The OpenSpending test account still has to be cleaned up, so that the journalists are not confused with which dataset is up to date. So basically old datasets need to be deleted.

BTW: great job on the country specific concatenated datasets :) @akariv

[2017-02-03 15:31] annafralberts commented on #352
It's working on the website. Hurray !

[2017-02-03 15:31] #352 closed

[2017-02-04 10:25] annafralberts commented on #357
Checked comments the website, and the concat datasets etc. and the numbers are still not transposed correctly. @akariv can you try another fix and rerun them again?

[2017-02-28 14:32] #62 closed

[2017-02-28 14:34] #20 closed

[2017-02-28 14:34] #357 closed

[2017-02-28 14:35] #75 closed

[2017-02-28 14:35] #78 closed

[2017-02-28 14:37] #125 closed

[2017-02-28 14:37] #128 closed

[2017-02-28 14:37] #152 closed

[2017-02-28 14:37] #293 closed

[2017-02-28 14:37] #295 closed

[2017-02-28 14:37] #354 closed

[2017-02-28 14:38] #359 closed

[2017-02-28 14:39] #280 closed

[2017-02-28 14:40] #296 closed

[2017-02-28 14:41] #353 closed

[2017-02-28 15:03] #302 closed

[2017-02-28 15:03] #315 closed

[2017-02-28 15:04] #342 closed

[2017-02-28 15:05] #341 closed

[2017-02-28 15:06] #319 closed

[2017-02-28 15:06] #322 closed

[2017-02-28 15:06] #331 closed

[2017-02-28 15:06] #333 closed

[2017-02-28 15:06] #340 closed

[2017-02-28 15:32] #191 closed

[2017-03-11 13:27] marfi opened #361 "Concatenated file questions"
Hi,

Admirable effort, congratulations!

I checked the .pdfs, however in the concatenated file, I see these fields (in bold), which are not described in the "dataset_descriptions.pdf"

[code]

[2017-03-14 12:08] michaeljokf commented on #361
@marfi thanks for your feedback! What you looked at is the dataset descriptions, only a brief description of what the original files were when we found them. You should read this [methodology](https://github.com/os-data/eu-structural-funds/blob/master/documentation/subsidyreport%20-%20methodology.pdf ). Therein all the variables the datasets include are discussed.

If you really want to work with

[2017-03-14 13:49] michaeljokf commented on #361
@marfi about "beneficiary_id" we added this rather last minute, it was created using https://github.com/pudo/fingerprints to assure that beneficiaries are actually spelled the same. While this does not necessarily look nice, it allows grouping the beneficiaries correctly. The results from this are helpful for these countries: Austria, Estonia, Germany, Italy, Netherlands, United Kingdom.

[2017-03-20 13:44] #358 closed

[2017-04-26 09:16] callmealien opened #362 "Suggestion for new datasets contribution"
Current call for contributions asks users to send an email- might be easier for people to open a Github issue, possible to add that as an option?

[2017-10-06 07:42] DianaMPG commented on #362
@annafralberts ?

[2018-03-02 13:13] DianaMPG opened #366 "Add Disclaimer or banner that points out that data is currently not being updated"
subsidystories.eu ´s data collection is currently not being updated.
Therefore we need a disclaimer or banner that informs visitors about that fact.